consumer airfare report:
https://data.transportation.gov/Aviation/Consumer-Airfare-Report-Table-2-Top-1-000-City-Pai/wqw2-rjgd/about_data

on time monthly data:
https://www.transtats.bts.gov/Fields.asp?gnoyr_VQ=FGK

airline codes:
https://www.bansard.com/sites/default/files/download_documents/Bansard-airlines-codes-IATA-ICAO.xlsx&ved=2ahUKEwj2zPThgpSIAxWLITQIHdmMGsEQFnoECAwQAQ&usg=AOvVaw1t6UbPkojIZrVMuOTDghg9

In [102]:
import sys
import os

# Get the project root directory
PROJECT_ROOT = os.path.abspath(os.path.join(os.pardir))

# Add the project root to sys.path
sys.path.append(PROJECT_ROOT)

# Now you can import the config module
from config.config import DATA_PATH

In [103]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from urllib.request import urlretrieve

In [104]:
pd.set_option('display.max_columns', None)

# Import Flight Performance Data

In [105]:
import pandas as pd
import os

def read_and_combine_csv(base_path, data_folder):
    """
    Reads multiple CSV files from a specified directory and combines them into a single DataFrame.

    Args:
    base_path (str): The base directory path where data folders are stored.
    data_folder (str): The folder name containing the CSV files to read.

    Returns:
    DataFrame: A combined DataFrame containing data from all CSV files in the specified directory.
    """
    # Construct the full path to the folder containing CSV files
    folder_path = os.path.join(base_path, data_folder)
    
    # Initialize an empty list to store individual DataFrames
    dataframes_list = []
    
    # Iterate through each file in the directory
    for filename in os.listdir(folder_path):
        if filename.endswith('.csv'):
            file_path = os.path.join(folder_path, filename)
            df = pd.read_csv(file_path, low_memory=False)
            dataframes_list.append(df)
    
    # Concatenate all DataFrames in the list into one DataFrame
    combined_df = pd.concat(dataframes_list, ignore_index=True)
    
    return combined_df

In [106]:
# Assume DATA_PATH is already imported from your config
flight_data = '2023-performance-data'
df_2023 = read_and_combine_csv(DATA_PATH, flight_data)

# Check the combined DataFrame
print(df_2023.head())

   Year  Quarter  Month  DayofMonth  DayOfWeek  FlightDate  \
0  2023        3      8           6          7  2023-08-06
1  2023        3      8           7          1  2023-08-07
2  2023        3      8           9          3  2023-08-09
3  2023        3      8          10          4  2023-08-10
4  2023        3      8          12          6  2023-08-12

  Marketing_Airline_Network Operated_or_Branded_Code_Share_Partners  \
0                        NK                                      NK
1                        NK                                      NK
2                        NK                                      NK
3                        NK                                      NK
4                        NK                                      NK

   DOT_ID_Marketing_Airline IATA_Code_Marketing_Airline  \
0                     20416                          NK
1                     20416                          NK
2                     20416                          NK
3                     20416                          NK
4                     20416                          NK

   Flight_Number_Marketing_Airline Originally_Scheduled_Code_Share_Airline  \
0                             2252                                     NaN
1                             2252                                     NaN
2                             2252                                     NaN
3                             2252                                     NaN
4                             2252                                     NaN

   DOT_ID_Originally_Scheduled_Code_Share_Airline  \
0                                             NaN
1                                             NaN
2                                             NaN
3                                             NaN
4                                             NaN

  IATA_Code_Originally_Scheduled_Code_Share_Airline  \
0                                               NaN
1                                               NaN
2                                               NaN
3                                               NaN
4                                               NaN

   Flight_Num_Originally_Scheduled_Code_Share_Airline Operating_Airline   \
0                                                NaN                  NK
1                                                NaN                  NK
2                                                NaN                  NK
3                                                NaN                  NK
4                                                NaN                  NK

   DOT_ID_Operating_Airline IATA_Code_Operating_Airline Tail_Number  \
0                     20416                          NK      N978NK
1                     20416                          NK      N974NK
2                     20416                          NK      N519NK
3                     20416                          NK      N532NK
4                     20416                          NK      N529NK

   Flight_Number_Operating_Airline  OriginAirportID  OriginAirportSeqID  \
0                             2252            12889             1288904
1                             2252            12889             1288904
2                             2252            12889             1288904
3                             2252            12889             1288904
4                             2252            12889             1288904

   OriginCityMarketID Origin OriginCityName OriginState  OriginStateFips  \
0               32211    LAS  Las Vegas, NV          NV               32
1               32211    LAS  Las Vegas, NV          NV               32
2               32211    LAS  Las Vegas, NV          NV               32
3               32211    LAS  Las Vegas, NV          NV               32
4               32211    LAS  Las Vegas, NV          NV               32

  OriginStateName  OriginWac  DestAirportID  DestAirportSeqID  \
0          Nevada         85          11057           1105703
1          Nevada         85          11057           1105703
2          Nevada         85          11057           1105703
3          Nevada         85          11057           1105703
4          Nevada         85          11057           1105703

   DestCityMarketID Dest   DestCityName DestState  DestStateFips  \
0             31057  CLT  Charlotte, NC        NC             37
1             31057  CLT  Charlotte, NC        NC             37
2             31057  CLT  Charlotte, NC        NC             37
3             31057  CLT  Charlotte, NC        NC             37
4             31057  CLT  Charlotte, NC        NC             37

    DestStateName  DestWac  CRSDepTime  DepTime  DepDelay  DepDelayMinutes  \
0  North Carolina       36        2359      NaN       NaN              NaN
1  North Carolina       36        2359    115.0      76.0             76.0
2  North Carolina       36        2310   2259.0     -11.0              0.0
3  North Carolina       36        2310   2302.0      -8.0              0.0
4  North Carolina       36        2310   2314.0       4.0              4.0

   DepDel15  DepartureDelayGroups DepTimeBlk  TaxiOut  WheelsOff  WheelsOn  \
0       NaN                   NaN  2300-2359      NaN        NaN       NaN
1       1.0                   5.0  2300-2359     19.0      134.0     822.0
2       0.0                  -1.0  2300-2359     14.0     2313.0     605.0
3       0.0                  -1.0  2300-2359     12.0     2314.0     551.0
4       0.0                   0.0  2300-2359     18.0     2332.0     618.0

   TaxiIn  CRSArrTime  ArrTime  ArrDelay  ArrDelayMinutes  ArrDel15  \
0     NaN         722      NaN       NaN              NaN       NaN
1     9.0         722    831.0      69.0             69.0       1.0
2    10.0         628    615.0     -13.0              0.0       0.0
3     7.0         628    558.0     -30.0              0.0       0.0
4     6.0         628    624.0      -4.0              0.0       0.0

   ArrivalDelayGroups ArrTimeBlk  Cancelled CancellationCode  Diverted  \
0                 NaN  0700-0759        1.0                B       0.0
1                 4.0  0700-0759        0.0              NaN       0.0
2                -1.0  0600-0659        0.0              NaN       0.0
3                -2.0  0600-0659        0.0              NaN       0.0
4                -1.0  0600-0659        0.0              NaN       0.0

   CRSElapsedTime  ActualElapsedTime  AirTime  Flights  Distance  \
0           263.0                NaN      NaN      1.0    1916.0
1           263.0              256.0    228.0      1.0    1916.0
2           258.0              256.0    232.0      1.0    1916.0
3           258.0              236.0    217.0      1.0    1916.0
4           258.0              250.0    226.0      1.0    1916.0

   DistanceGroup  CarrierDelay  WeatherDelay  NASDelay  SecurityDelay  \
0              8           NaN           NaN       NaN            NaN
1              8           3.0           0.0       1.0            0.0
2              8           NaN           NaN       NaN            NaN
3              8           NaN           NaN       NaN            NaN
4              8           NaN           NaN       NaN            NaN

   LateAircraftDelay  FirstDepTime  TotalAddGTime  LongestAddGTime  \
0                NaN           NaN            NaN              NaN
1               65.0           NaN            NaN              NaN
2                NaN           NaN            NaN              NaN
3                NaN           NaN            NaN              NaN
4                NaN           NaN            NaN              NaN

   DivAirportLandings  DivReachedDest  DivActualElapsedTime  DivArrDelay  \
0                 0.0             NaN                   NaN          NaN
1                 0.0             NaN                   NaN          NaN
2                 0.0             NaN                   NaN          NaN
3                 0.0             NaN                   NaN          NaN
4                 0.0             NaN                   NaN          NaN

   DivDistance Div1Airport  Div1AirportID  Div1AirportSeqID  Div1WheelsOn  \
0          NaN         NaN            NaN               NaN           NaN
1          NaN         NaN            NaN               NaN           NaN
2          NaN         NaN            NaN               NaN           NaN
3          NaN         NaN            NaN               NaN           NaN
4          NaN         NaN            NaN               NaN           NaN

   Div1TotalGTime  Div1LongestGTime  Div1WheelsOff Div1TailNum Div2Airport  \
0             NaN               NaN            NaN         NaN         NaN
1             NaN               NaN            NaN         NaN         NaN
2             NaN               NaN            NaN         NaN         NaN
3             NaN               NaN            NaN         NaN         NaN
4             NaN               NaN            NaN         NaN         NaN

   Div2AirportID  Div2AirportSeqID  Div2WheelsOn  Div2TotalGTime  \
0            NaN               NaN           NaN             NaN
1            NaN               NaN           NaN             NaN
2            NaN               NaN           NaN             NaN
3            NaN               NaN           NaN             NaN
4            NaN               NaN           NaN             NaN

   Div2LongestGTime  Div2WheelsOff Div2TailNum Div3Airport  Div3AirportID  \
0               NaN            NaN         NaN         NaN            NaN
1               NaN            NaN         NaN         NaN            NaN
2               NaN            NaN         NaN         NaN            NaN
3               NaN            NaN         NaN         NaN            NaN
4               NaN            NaN         NaN         NaN            NaN

   Div3AirportSeqID  Div3WheelsOn  Div3TotalGTime  Div3LongestGTime  \
0               NaN           NaN             NaN               NaN
1               NaN           NaN             NaN               NaN
2               NaN           NaN             NaN               NaN
3               NaN           NaN             NaN               NaN
4               NaN           NaN             NaN               NaN

   Div3WheelsOff Div3TailNum  Div4Airport  Div4AirportID  Div4AirportSeqID  \
0            NaN         NaN          NaN            NaN               NaN
1            NaN         NaN          NaN            NaN               NaN
2            NaN         NaN          NaN            NaN               NaN
3            NaN         NaN          NaN            NaN               NaN
4            NaN         NaN          NaN            NaN               NaN

   Div4WheelsOn  Div4TotalGTime  Div4LongestGTime  Div4WheelsOff  Div4TailNum  \
0           NaN             NaN               NaN            NaN          NaN
1           NaN             NaN               NaN            NaN          NaN
2           NaN             NaN               NaN            NaN          NaN
3           NaN             NaN               NaN            NaN          NaN
4           NaN             NaN               NaN            NaN          NaN

   Div5Airport  Div5AirportID  Div5AirportSeqID  Div5WheelsOn  Div5TotalGTime  \
0          NaN            NaN               NaN           NaN             NaN
1          NaN            NaN               NaN           NaN             NaN
2          NaN            NaN               NaN           NaN             NaN
3          NaN            NaN               NaN           NaN             NaN
4          NaN            NaN               NaN           NaN             NaN

   Div5LongestGTime  Div5WheelsOff  Div5TailNum Duplicate  Unnamed: 119
0               NaN            NaN          NaN         N           NaN
1               NaN            NaN          NaN         N           NaN
2               NaN            NaN          NaN         N           NaN
3               NaN            NaN          NaN         N           NaN
4               NaN            NaN          NaN         N           NaN

In [107]:
df_codes = pd.read_csv(DATA_PATH + '/L_AIRLINE_ID.csv')

## Inspect Data Quality

In [108]:
df_2023.shape

(7278739, 120)

In [109]:
df_2023.head()

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Marketing_Airline_Network,Operated_or_Branded_Code_Share_Partners,DOT_ID_Marketing_Airline,IATA_Code_Marketing_Airline,Flight_Number_Marketing_Airline,Originally_Scheduled_Code_Share_Airline,DOT_ID_Originally_Scheduled_Code_Share_Airline,IATA_Code_Originally_Scheduled_Code_Share_Airline,Flight_Num_Originally_Scheduled_Code_Share_Airline,Operating_Airline,DOT_ID_Operating_Airline,IATA_Code_Operating_Airline,Tail_Number,Flight_Number_Operating_Airline,OriginAirportID,OriginAirportSeqID,OriginCityMarketID,Origin,OriginCityName,OriginState,OriginStateFips,OriginStateName,OriginWac,DestAirportID,DestAirportSeqID,DestCityMarketID,Dest,DestCityName,DestState,DestStateFips,DestStateName,DestWac,CRSDepTime,DepTime,DepDelay,DepDelayMinutes,DepDel15,DepartureDelayGroups,DepTimeBlk,TaxiOut,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrTime,ArrDelay,ArrDelayMinutes,ArrDel15,ArrivalDelayGroups,ArrTimeBlk,Cancelled,CancellationCode,Diverted,CRSElapsedTime,ActualElapsedTime,AirTime,Flights,Distance,DistanceGroup,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,FirstDepTime,TotalAddGTime,LongestAddGTime,DivAirportLandings,DivReachedDest,DivActualElapsedTime,DivArrDelay,DivDistance,Div1Airport,Div1AirportID,Div1AirportSeqID,Div1WheelsOn,Div1TotalGTime,Div1LongestGTime,Div1WheelsOff,Div1TailNum,Div2Airport,Div2AirportID,Div2AirportSeqID,Div2WheelsOn,Div2TotalGTime,Div2LongestGTime,Div2WheelsOff,Div2TailNum,Div3Airport,Div3AirportID,Div3AirportSeqID,Div3WheelsOn,Div3TotalGTime,Div3LongestGTime,Div3WheelsOff,Div3TailNum,Div4Airport,Div4AirportID,Div4AirportSeqID,Div4WheelsOn,Div4TotalGTime,Div4LongestGTime,Div4WheelsOff,Div4TailNum,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum,Duplicate,Unnamed: 119
0,2023,3,8,6,7,2023-08-06,NK,NK,20416,NK,2252,NaN,NaN,NaN,NaN,NK,20416,NK,N978NK,2252,12889,1288904,32211,LAS,"Las Vegas, NV",NV,32,Nevada,85,11057,1105703,31057,CLT,"Charlotte, NC",NC,37,North Carolina,36,2359,NaN,NaN,NaN,NaN,NaN,2300-2359,NaN,NaN,NaN,NaN,722,NaN,NaN,NaN,NaN,NaN,0700-0759,1.0,B,0.0,263.0,NaN,NaN,1.0,1916.0,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
1,2023,3,8,7,1,2023-08-07,NK,NK,20416,NK,2252,NaN,NaN,NaN,NaN,NK,20416,NK,N974NK,2252,12889,1288904,32211,LAS,"Las Vegas, NV",NV,32,Nevada,85,11057,1105703,31057,CLT,"Charlotte, NC",NC,37,North Carolina,36,2359,115.0,76.0,76.0,1.0,5.0,2300-2359,19.0,134.0,822.0,9.0,722,831.0,69.0,69.0,1.0,4.0,0700-0759,0.0,NaN,0.0,263.0,256.0,228.0,1.0,1916.0,8,3.0,0.0,1.0,0.0,65.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
2,2023,3,8,9,3,2023-08-09,NK,NK,20416,NK,2252,NaN,NaN,NaN,NaN,NK,20416,NK,N519NK,2252,12889,1288904,32211,LAS,"Las Vegas, NV",NV,32,Nevada,85,11057,1105703,31057,CLT,"Charlotte, NC",NC,37,North Carolina,36,2310,2259.0,-11.0,0.0,0.0,-1.0,2300-2359,14.0,2313.0,605.0,10.0,628,615.0,-13.0,0.0,0.0,-1.0,0600-0659,0.0,NaN,0.0,258.0,256.0,232.0,1.0,1916.0,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
3,2023,3,8,10,4,2023-08-10,NK,NK,20416,NK,2252,NaN,NaN,NaN,NaN,NK,20416,NK,N532NK,2252,12889,1288904,32211,LAS,"Las Vegas, NV",NV,32,Nevada,85,11057,1105703,31057,CLT,"Charlotte, NC",NC,37,North Carolina,36,2310,2302.0,-8.0,0.0,0.0,-1.0,2300-2359,12.0,2314.0,551.0,7.0,628,558.0,-30.0,0.0,0.0,-2.0,0600-0659,0.0,NaN,0.0,258.0,236.0,217.0,1.0,1916.0,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
4,2023,3,8,12,6,2023-08-12,NK,NK,20416,NK,2252,NaN,NaN,NaN,NaN,NK,20416,NK,N529NK,2252,12889,1288904,32211,LAS,"Las Vegas, NV",NV,32,Nevada,85,11057,1105703,31057,CLT,"Charlotte, NC",NC,37,North Carolina,36,2310,2314.0,4.0,4.0,0.0,0.0,2300-2359,18.0,2332.0,618.0,6.0,628,624.0,-4.0,0.0,0.0,-1.0,0600-0659,0.0,NaN,0.0,258.0,250.0,226.0,1.0,1916.0,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN

In [110]:
df_2023.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7278739 entries, 0 to 7278738
Columns: 120 entries, Year to Unnamed: 119
dtypes: float64(71), int64(22), object(27)
memory usage: 6.5+ GB

In [111]:
df_2023.columns = df_2023.columns.str.strip()

## Missing Values

In [112]:
null_vals = df_2023.isna().sum().reset_index()
null_vals.columns = ['column', 'num_missing']
null_vals['perc_missing'] = round(null_vals['num_missing'] / len(df_2023) *100, 3)
missing_over_50 = null_vals[null_vals['perc_missing'] > 50].sort_values('perc_missing', ascending=False)
print(missing_over_50.shape)
missing_over_50

(58, 3)

,column,num_missing,perc_missing
119,Unnamed: 119,7278739,100.000
106,Div4TotalGTime,7278739,100.000
94,Div3Airport,7278737,100.000
95,Div3AirportID,7278737,100.000
96,Div3AirportSeqID,7278737,100.000
97,Div3WheelsOn,7278737,100.000
98,Div3TotalGTime,7278737,100.000
99,Div3LongestGTime,7278737,100.000
100,Div3WheelsOff,7278738,100.000
101,Div3TailNum,7278738,100.000
102,Div4Airport,7278739,100.000
103,Div4AirportID,7278739,100.000
104,Div4AirportSeqID,7278739,100.000
105,Div4WheelsOn,7278739,100.000
107,Div4LongestGTime,7278739,100.000
108,Div4WheelsOff,7278739,100.000
109,Div4TailNum,7278739,100.000
110,Div5Airport,7278739,100.000
111,Div5AirportID,7278739,100.000
112,Div5AirportSeqID,7278739,100.000
113,Div5WheelsOn,7278739,100.000
114,Div5TotalGTime,7278739,100.000
115,Div5LongestGTime,7278739,100.000
116,Div5WheelsOff,7278739,100.000
117,Div5TailNum,7278739,100.000
93,Div2TailNum,7278653,99.999
92,Div2WheelsOff,7278653,99.999
91,Div2LongestGTime,7278562,99.998
90,Div2TotalGTime,7278562,99.998
89,Div2WheelsOn,7278562,99.998
88,Div2AirportSeqID,7278562,99.998
87,Div2AirportID,7278562,99.998
86,Div2Airport,7278562,99.998
12,DOT_ID_Originally_Scheduled_Code_Share_Airline,7277653,99.985
13,IATA_Code_Originally_Scheduled_Code_Share_Airline,7277653,99.985
14,Flight_Num_Originally_Scheduled_Code_Share_Air...,7277653,99.985
11,Originally_Scheduled_Code_Share_Airline,7277653,99.985
76,DivArrDelay,7262690,99.780
75,DivActualElapsedTime,7262691,99.780
85,Div1TailNum,7262596,99.778
84,Div1WheelsOff,7262596,99.778
77,DivDistance,7260942,99.755
74,DivReachedDest,7260942,99.755
81,Div1WheelsOn,7260161,99.745
82,Div1TotalGTime,7260161,99.745
83,Div1LongestGTime,7260161,99.745
78,Div1Airport,7260160,99.745
79,Div1AirportID,7260160,99.745
80,Div1AirportSeqID,7260160,99.745
72,LongestAddGTime,7231279,99.348
70,FirstDepTime,7231277,99.348
71,TotalAddGTime,7231279,99.348
57,CancellationCode,7184842,98.710
69,LateAircraftDelay,5814201,79.879
68,SecurityDelay,5814201,79.879
67,NASDelay,5814201,79.879
66,WeatherDelay,5814201,79.879
65,CarrierDelay,5814201,79.879

Fifty-eight columns are missing over 50% of their values, 53 of which are missing over 90% of their values. Most of these columns are dealing with details about diverted flights. There is a column, `Diverted`, which captures whether or not a flight was diverted and it does not contain any missing values. At this point, it will be best to remove the columns with over 90% of their values missing. 

The different delay types (`LateAircraftDelay`, `SecurityDelay`, `NASDelay`, `WeatherDelay`, `CarrierDelay`) may come in handy as I would expect most flights do not experience delays. These different types of delays may inform some segmentation of delayed flights later on.

In [113]:
# drop columns with over 80% missing values
cols_to_drop = null_vals[null_vals['perc_missing'] >= 80]['column'].tolist()

df = df_2023.drop(columns=cols_to_drop)

In [114]:
missing_under_50 = null_vals[(null_vals['perc_missing'] <= 50) & (null_vals['perc_missing'] > 0)].sort_values('perc_missing', ascending=False)
print(missing_under_50.shape)
missing_under_50

(17, 3)

                  column  num_missing  perc_missing
61               AirTime       111695         1.535
60     ActualElapsedTime       111695         1.535
54    ArrivalDelayGroups       111695         1.535
53              ArrDel15       111695         1.535
52       ArrDelayMinutes       111695         1.535
51              ArrDelay       111695         1.535
48                TaxiIn        95647         1.314
50               ArrTime        95646         1.314
47              WheelsOn        95647         1.314
46             WheelsOff        93119         1.279
45               TaxiOut        93119         1.279
43  DepartureDelayGroups        90160         1.239
42              DepDel15        90160         1.239
41       DepDelayMinutes        90160         1.239
40              DepDelay        90160         1.239
39               DepTime        90100         1.238
18           Tail_Number        19648         0.270

Seventeen columns have less than 2% of their values missing. 

Earlier I deleted rows with missing values because of the % being insignificant. However, some of these missing observations likely overlap with the 11,032 cancelled flights. Others are just missing informaiton for some reason. I found this out because when I wanted to see the counts of cancelled vs not cancelled flights, I only saw details for not cancelled flights.

It would make sense that cancelled flights would have missing information in other columns. I want to identify which flights were cancelled and how many there were.

In [115]:
df['Cancelled'].value_counts()

Cancelled
0.0    7184842
1.0      93897
Name: count, dtype: int64

In [116]:
cancelled_flights = df['Cancelled'] == 1.0
print('Total number of cancelled flights: ', len(df[cancelled_flights]))

Total number of cancelled flights:  93897

In [117]:
not_cancelled = df[~cancelled_flights]
not_cancelled_missing = not_cancelled.isna().sum().reset_index()
not_cancelled_missing.columns = ['Column', 'Count_Missing']
not_cancelled_missing[not_cancelled_missing['Count_Missing'] > 0]

                Column  Count_Missing
43            WheelsOn           1750
44              TaxiIn           1750
46             ArrTime           1749
47            ArrDelay          17798
48     ArrDelayMinutes          17798
49            ArrDel15          17798
50  ArrivalDelayGroups          17798
54      CRSElapsedTime              1
55   ActualElapsedTime          17798
56             AirTime          17798
60        CarrierDelay        5720304
61        WeatherDelay        5720304
62            NASDelay        5720304
63       SecurityDelay        5720304
64   LateAircraftDelay        5720304
65  DivAirportLandings              3

There were over 11,000 cancelled flights in January. However, some of the data is still missing information for several columns even after excluding the cancelled flights. 

I still maintain that the different delay types (`LateAircraftDelay`, `SecurityDelay`, `NASDelay`, `WeatherDelay`, `CarrierDelay`) may come in handy as I would expect most flights do not experience delays.

However, I believe I should remove observations that are missing data in the other columns.

In [118]:
missing_critical_data = ((df['Cancelled'] == 0) & (df['ArrTime'].isna())) | ((df['Cancelled'] == 0) & (df['ArrDelayMinutes'].isna()))
print('Total non-cancelled flights with missing data: ', missing_critical_data.sum())

Total non-cancelled flights with missing data:  17798

In [119]:
# drop rows missing less than 3% of values
df = df[~missing_critical_data]

In [120]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7260941 entries, 0 to 7278738
Data columns (total 67 columns):
 #   Column                                   Dtype
---  ------                                   -----
 0   Year                                     int64
 1   Quarter                                  int64
 2   Month                                    int64
 3   DayofMonth                               int64
 4   DayOfWeek                                int64
 5   FlightDate                               object
 6   Marketing_Airline_Network                object
 7   Operated_or_Branded_Code_Share_Partners  object
 8   DOT_ID_Marketing_Airline                 int64
 9   IATA_Code_Marketing_Airline              object
 10  Flight_Number_Marketing_Airline          int64
 11  Operating_Airline                        object
 12  DOT_ID_Operating_Airline                 int64
 13  IATA_Code_Operating_Airline              object
 14  Tail_Number                              object
 15  Flight_Number_Operating_Airline          int64
 16  OriginAirportID                          int64
 17  OriginAirportSeqID                       int64
 18  OriginCityMarketID                       int64
 19  Origin                                   object
 20  OriginCityName                           object
 21  OriginState                              object
 22  OriginStateFips                          int64
 23  OriginStateName                          object
 24  OriginWac                                int64
 25  DestAirportID                            int64
 26  DestAirportSeqID                         int64
 27  DestCityMarketID                         int64
 28  Dest                                     object
 29  DestCityName                             object
 30  DestState                                object
 31  DestStateFips                            int64
 32  DestStateName                            object
 33  DestWac                                  int64
 34  CRSDepTime                               int64
 35  DepTime                                  float64
 36  DepDelay                                 float64
 37  DepDelayMinutes                          float64
 38  DepDel15                                 float64
 39  DepartureDelayGroups                     float64
 40  DepTimeBlk                               object
 41  TaxiOut                                  float64
 42  WheelsOff                                float64
 43  WheelsOn                                 float64
 44  TaxiIn                                   float64
 45  CRSArrTime                               int64
 46  ArrTime                                  float64
 47  ArrDelay                                 float64
 48  ArrDelayMinutes                          float64
 49  ArrDel15                                 float64
 50  ArrivalDelayGroups                       float64
 51  ArrTimeBlk                               object
 52  Cancelled                                float64
 53  Diverted                                 float64
 54  CRSElapsedTime                           float64
 55  ActualElapsedTime                        float64
 56  AirTime                                  float64
 57  Flights                                  float64
 58  Distance                                 float64
 59  DistanceGroup                            int64
 60  CarrierDelay                             float64
 61  WeatherDelay                             float64
 62  NASDelay                                 float64
 63  SecurityDelay                            float64
 64  LateAircraftDelay                        float64
 65  DivAirportLandings                       float64
 66  Duplicate                                object
dtypes: float64(27), int64(22), object(18)
memory usage: 3.7+ GB

## Data Types

The `FlightDate` column will need to be converted to a datetime object. I'll be able to see if there are any inconsistencies with the range of dates. I expect only flight details for January 2023.

In [121]:
# convert FlightDate to datetime object
df['FlightDate'] = pd.to_datetime(df['FlightDate'], errors='coerce')
df['FlightDate'].info()

<class 'pandas.core.series.Series'>
Index: 7260941 entries, 0 to 7278738
Series name: FlightDate
Non-Null Count    Dtype
--------------    -----
7260941 non-null  datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 110.8 MB

In [122]:
df['FlightDate'].describe()

count                          7260941
mean     2023-07-03 18:25:02.977754112
min                2023-01-01 00:00:00
25%                2023-04-05 00:00:00
50%                2023-07-05 00:00:00
75%                2023-10-02 00:00:00
max                2023-12-31 00:00:00
Name: FlightDate, dtype: object

In [123]:
df['FlightDate_date_only'] = df['FlightDate'].dt.date
df['FlightDate_date_only'].describe()

count        7260941
unique           365
top       2023-11-26
freq           21864
Name: FlightDate_date_only, dtype: object

The range of flight dates is as expected, ranging from January 1st to December 31st. 

The most common date for flights was November 26th with over 21,864 scheduled flights. This is not surprising as it is Thanksgiving weekend, a holiday. It will likely be useful to add a column for whether a travel date was on a holday.

## Redundant Columns with Flight Operations

The first few rows of the dataframe seemed to have similar information for `Marketing_Airline_Network`, `Operated_or_Branded_Code_Share_Partners`, and `IATA_Code_Marketing_Airline`. There also appear to be identical data for the `Operating_Airline` and `IATA_Code_Operating_Airline` columns. I want to take a closer look at these columns.

In [124]:
df[['Marketing_Airline_Network', 'Operated_or_Branded_Code_Share_Partners', 'IATA_Code_Marketing_Airline', 'Operating_Airline', 'IATA_Code_Operating_Airline']]

,Marketing_Airline_Network,Operated_or_Branded_Code_Share_Partners,IATA_Code_Marketing_Airline,Operating_Airline,IATA_Code_Operating_Airline
0,NK,NK,NK,NK,NK
1,NK,NK,NK,NK,NK
2,NK,NK,NK,NK,NK
3,NK,NK,NK,NK,NK
4,NK,NK,NK,NK,NK
...,...,...,...,...,...
7278734,AA,AA_CODESHARE,AA,OH,OH
7278735,AA,AA_CODESHARE,AA,OH,OH
7278736,AA,AA_CODESHARE,AA,OH,OH
7278737,AA,AA_CODESHARE,AA,OH,OH
7278738,AA,AA_CODESHARE,AA,OH,OH

After reading documentation, the Marketing Airline Network and/or IATA Code is not always unique as it can be assigned to different airlines over time. Also, these codes may not always be unique. The identify unique airline carriers, the `DOT_ID_Marketing_Airline` column should be used as this is unique to the airline carrier and is defined as one holding and reporting under the same DOT certificate regardless of its Code, Name, or holding company/corporation.

The `Operated_or_Branded_Code_Share_Partners` column identifies whether the flight was operate by one of the airline's code share partners. A codeshare flight is an agreement between airlines to sell seats on each other’s flights. This gives the appearance of airlines flying to more destinations. By doing so, the airlines typically share the revenue on that ticket. The `DOT_ID_Operating_Airline` column should be used to identify which airline carrier is oeprating the flight. 

Creating a new column denoting whether a flight was a code share flight will potentially allow for segregating flights based on differing operations.

In [125]:
# Compare the two columns to find where they are different
code_share_flights = (df['Marketing_Airline_Network'] != df['Operated_or_Branded_Code_Share_Partners'])
print('The total number of code share flights: ', len(df[code_share_flights]))
print('The percent of flights that are code share flights: ', round(len(df[code_share_flights])/len(df) * 100, 2), '%')

The total number of code share flights:  2019136
The percent of flights that are code share flights:  27.81 %

Over a quarter of all flights in 2023 were code share flights. This seems like a significant proportion.

In [126]:
df['Code_Share_Flight'] = code_share_flights
df['Code_Share_Flight'] = df['Code_Share_Flight'].astype(int)

In [127]:
df['Code_Share_Flight'].head()

0    0
1    0
2    0
3    0
4    0
Name: Code_Share_Flight, dtype: int64

I will drop the `Operated_or_Branded_Code_Share_Partners` column now that I have capture whether or not a flight was a code share flight.

In [128]:
ops_columns_to_drop = ['Operated_or_Branded_Code_Share_Partners']

In [129]:
# Compare the two columns to find where they are different
differences = df['Marketing_Airline_Network'] != df['IATA_Code_Marketing_Airline']

# Count the number of differences
count_differences = differences.sum()

print(f"Number of differences between the two columns: {count_differences}")

Number of differences between the two columns: 0

Since Marketing Airline Network Code and the IATA Code don't have any differences, keeping both columns is unnecessary. I will drop the `Marketing_Airline_Network`column.

In [130]:
ops_columns_to_drop.append('Marketing_Airline_Network')

In [131]:
# Compare the two columns to find where they are different
differences = df['Flight_Number_Marketing_Airline'] != df['Flight_Number_Operating_Airline']

# Count the number of differences
count_differences = differences.sum()

print(f"Number of differences between the two columns: {count_differences}")

Number of differences between the two columns: 575

The flight numbers are identical for nearly all observations except for 575 flights. I will only keep the `Flight_Number_Marketing_Airline` column.

In [132]:
ops_columns_to_drop.append('Flight_Number_Operating_Airline')

In [133]:
# Compare the two columns to find where they are different
differences = df['Operating_Airline'] != df['IATA_Code_Operating_Airline']

# Count the number of differences
count_differences = differences.sum()

print(f"Number of differences between the two columns: {count_differences}")

Number of differences between the two columns: 0

Since Operating Airline Code and the IATA Code don't have any differences, keeping both columns is unnecessary. I will drop the `Operating_Airline`column.

In [134]:
ops_columns_to_drop.append('Operating_Airline')

In [135]:
df = df.drop(columns=ops_columns_to_drop)

In [136]:
df.head()

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,DOT_ID_Marketing_Airline,IATA_Code_Marketing_Airline,Flight_Number_Marketing_Airline,DOT_ID_Operating_Airline,IATA_Code_Operating_Airline,Tail_Number,OriginAirportID,OriginAirportSeqID,OriginCityMarketID,Origin,OriginCityName,OriginState,OriginStateFips,OriginStateName,OriginWac,DestAirportID,DestAirportSeqID,DestCityMarketID,Dest,DestCityName,DestState,DestStateFips,DestStateName,DestWac,CRSDepTime,DepTime,DepDelay,DepDelayMinutes,DepDel15,DepartureDelayGroups,DepTimeBlk,TaxiOut,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrTime,ArrDelay,ArrDelayMinutes,ArrDel15,ArrivalDelayGroups,ArrTimeBlk,Cancelled,Diverted,CRSElapsedTime,ActualElapsedTime,AirTime,Flights,Distance,DistanceGroup,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,DivAirportLandings,Duplicate,FlightDate_date_only,Code_Share_Flight
0,2023,3,8,6,7,2023-08-06,20416,NK,2252,20416,NK,N978NK,12889,1288904,32211,LAS,"Las Vegas, NV",NV,32,Nevada,85,11057,1105703,31057,CLT,"Charlotte, NC",NC,37,North Carolina,36,2359,NaN,NaN,NaN,NaN,NaN,2300-2359,NaN,NaN,NaN,NaN,722,NaN,NaN,NaN,NaN,NaN,0700-0759,1.0,0.0,263.0,NaN,NaN,1.0,1916.0,8,NaN,NaN,NaN,NaN,NaN,0.0,N,2023-08-06,0
1,2023,3,8,7,1,2023-08-07,20416,NK,2252,20416,NK,N974NK,12889,1288904,32211,LAS,"Las Vegas, NV",NV,32,Nevada,85,11057,1105703,31057,CLT,"Charlotte, NC",NC,37,North Carolina,36,2359,115.0,76.0,76.0,1.0,5.0,2300-2359,19.0,134.0,822.0,9.0,722,831.0,69.0,69.0,1.0,4.0,0700-0759,0.0,0.0,263.0,256.0,228.0,1.0,1916.0,8,3.0,0.0,1.0,0.0,65.0,0.0,N,2023-08-07,0
2,2023,3,8,9,3,2023-08-09,20416,NK,2252,20416,NK,N519NK,12889,1288904,32211,LAS,"Las Vegas, NV",NV,32,Nevada,85,11057,1105703,31057,CLT,"Charlotte, NC",NC,37,North Carolina,36,2310,2259.0,-11.0,0.0,0.0,-1.0,2300-2359,14.0,2313.0,605.0,10.0,628,615.0,-13.0,0.0,0.0,-1.0,0600-0659,0.0,0.0,258.0,256.0,232.0,1.0,1916.0,8,NaN,NaN,NaN,NaN,NaN,0.0,N,2023-08-09,0
3,2023,3,8,10,4,2023-08-10,20416,NK,2252,20416,NK,N532NK,12889,1288904,32211,LAS,"Las Vegas, NV",NV,32,Nevada,85,11057,1105703,31057,CLT,"Charlotte, NC",NC,37,North Carolina,36,2310,2302.0,-8.0,0.0,0.0,-1.0,2300-2359,12.0,2314.0,551.0,7.0,628,558.0,-30.0,0.0,0.0,-2.0,0600-0659,0.0,0.0,258.0,236.0,217.0,1.0,1916.0,8,NaN,NaN,NaN,NaN,NaN,0.0,N,2023-08-10,0
4,2023,3,8,12,6,2023-08-12,20416,NK,2252,20416,NK,N529NK,12889,1288904,32211,LAS,"Las Vegas, NV",NV,32,Nevada,85,11057,1105703,31057,CLT,"Charlotte, NC",NC,37,North Carolina,36,2310,2314.0,4.0,4.0,0.0,0.0,2300-2359,18.0,2332.0,618.0,6.0,628,624.0,-4.0,0.0,0.0,-1.0,0600-0659,0.0,0.0,258.0,250.0,226.0,1.0,1916.0,8,NaN,NaN,NaN,NaN,NaN,0.0,N,2023-08-12,0

## Redundant Columns with Origin and Destination Details

`OriginAirportID` and `OriginAirportSeqID` both provide identification numbers used by the DOT to identify a unique airport. The additional numbers in the `OriginAirportSeqID` column provide information about the airport at a given point in time. Since both of these point to the same unique airport, we only need one of the columns. Similarly, `DestAirportID` and `DestAirportSeqID` provide information about the unique destination airport. We only need one of the columns. I will drop both columns with SeqID information.

In [137]:
location_details_to_drop = ['OriginAirportSeqID', 'DestAirportSeqID']

The `OriginCityName` and `DestCityName` include the state or country names after the comma. Since this information is already tracked in the `OriginState` column, we don't also need state informatino in the city column.

In [138]:
# Split the 'OriginCityName' into two columns but handle cases where there might not be a comma
df['Origin_City'] = df['OriginCityName'].str.split(',').str[0]
df['PotentialState'] = df['OriginCityName'].str.split(',').str[1]

# Fill NaNs in 'PotentialState' with an empty string or a placeholder if no comma was present
df['PotentialState'] = df['PotentialState'].fillna('')

# Trim any whitespace that might be around the state names
df['PotentialState'] = df['PotentialState'].str.strip()

# Proceed with your state comparison and adjustment
# This assumes you have an 'OriginState' column to compare with
df['CheckStateMatch'] = df['PotentialState'] == df['OriginState']
df['Origin_City'] = df.apply(lambda x: x['OriginCityName'] if not x['CheckStateMatch'] else x['Origin_City'], axis=1)

In [139]:
df['Origin_City'].head()

0    Las Vegas
1    Las Vegas
2    Las Vegas
3    Las Vegas
4    Las Vegas
Name: Origin_City, dtype: object

In [140]:
# Split the 'OriginCityName' into two columns but handle cases where there might not be a comma
df['Destination_City'] = df['DestCityName'].str.split(',').str[0]
df['PotentialState_D'] = df['DestCityName'].str.split(',').str[1]

# Fill NaNs in 'PotentialState' with an empty string or a placeholder if no comma was present
df['PotentialState_D'] = df['PotentialState_D'].fillna('')

# Trim any whitespace that might be around the state names
df['PotentialState_D'] = df['PotentialState_D'].str.strip()

# Proceed with your state comparison and adjustment
# This assumes you have an 'OriginState' column to compare with
df['CheckStateMatch_D'] = df['PotentialState_D'] == df['DestState']
df['Destination_City'] = df.apply(lambda x: x['DestCityName'] if not x['CheckStateMatch_D'] else x['Destination_City'], axis=1)

In [141]:
df['Destination_City'].head()

0    Charlotte
1    Charlotte
2    Charlotte
3    Charlotte
4    Charlotte
Name: Destination_City, dtype: object

In [142]:
location_details_to_drop.extend(['OriginCityName', 'PotentialState', 'CheckStateMatch', 'DestCityName', 'PotentialState_D', 'CheckStateMatch_D'])

In [143]:
origin_states = df.groupby(['OriginState', 'OriginStateName', 'OriginStateFips', 'OriginWac']).size().reset_index()
origin_states.rename(columns={0:'Count'}, inplace=True)
origin_states.sort_values('OriginStateName').head()

  OriginState OriginStateName  OriginStateFips  OriginWac   Count
1          AL         Alabama                1         51   36418
0          AK          Alaska                2          1   42728
3          AZ         Arizona                4         81  205794
2          AR        Arkansas                5         71   28750
4          CA      California                6         91  747100

In [144]:
dest_states = df.groupby(['DestState', 'DestStateName', 'DestStateFips', 'DestWac']).size().reset_index()
dest_states.rename(columns={0:'Count'}, inplace=True)
states_df = origin_states.merge(dest_states, left_on=['OriginStateFips', 'OriginWac'], right_on=['DestStateFips', 'DestWac'], suffixes=('_origin', '_dest'), how='outer')
states_df

,OriginState,OriginStateName,OriginStateFips,OriginWac,Count_origin,DestState,DestStateName,DestStateFips,DestWac,Count_dest
0,AK,Alaska,2,1,42728,AK,Alaska,2,1,42707
1,AL,Alabama,1,51,36418,AL,Alabama,1,51,36443
2,AR,Arkansas,5,71,28750,AR,Arkansas,5,71,28748
3,AZ,Arizona,4,81,205794,AZ,Arizona,4,81,205985
4,CA,California,6,91,747100,CA,California,6,91,747618
5,CO,Colorado,8,82,334351,CO,Colorado,8,82,333737
6,CT,Connecticut,9,11,22858,CT,Connecticut,9,11,22877
7,FL,Florida,12,33,612995,FL,Florida,12,33,612351
8,GA,Georgia,13,34,363670,GA,Georgia,13,34,363813
9,HI,Hawaii,15,2,132336,HI,Hawaii,15,2,132270
10,IA,Iowa,19,61,25457,IA,Iowa,19,61,25445
11,ID,Idaho,16,83,32638,ID,Idaho,16,83,32628
12,IL,Illinois,17,41,395207,IL,Illinois,17,41,395077
13,IN,Indiana,18,42,60746,IN,Indiana,18,42,60820
14,KS,Kansas,20,62,14943,KS,Kansas,20,62,14923
15,KY,Kentucky,21,52,76105,KY,Kentucky,21,52,76138
16,LA,Louisiana,22,72,71253,LA,Louisiana,22,72,71256
17,MA,Massachusetts,25,13,146250,MA,Massachusetts,25,13,146302
18,MD,Maryland,24,35,97722,MD,Maryland,24,35,97760
19,ME,Maine,23,12,17568,ME,Maine,23,12,17560
20,MI,Michigan,26,43,163355,MI,Michigan,26,43,163426
21,MN,Minnesota,27,63,129648,MN,Minnesota,27,63,129762
22,MO,Missouri,29,64,126842,MO,Missouri,29,64,126964
23,MS,Mississippi,28,53,15158,MS,Mississippi,28,53,15142
24,MT,Montana,30,84,29304,MT,Montana,30,84,29274
25,NC,North Carolina,37,36,326167,NC,North Carolina,37,36,326343
26,ND,North Dakota,38,66,17129,ND,North Dakota,38,66,17094
27,NE,Nebraska,31,65,27843,NE,Nebraska,31,65,27862
28,NH,New Hampshire,33,14,7584,NH,New Hampshire,33,14,7579
29,NJ,New Jersey,34,21,155932,NJ,New Jersey,34,21,155825
30,NM,New Mexico,35,86,28429,NM,New Mexico,35,86,28457
31,NV,Nevada,32,85,212112,NV,Nevada,32,85,212207
32,NY,New York,36,22,391475,NY,New York,36,22,391219
33,OH,Ohio,39,44,100019,OH,Ohio,39,44,100092
34,OK,Oklahoma,40,73,42862,OK,Oklahoma,40,73,42873
35,OR,Oregon,41,92,89762,OR,Oregon,41,92,89780
36,PA,Pennsylvania,42,23,172302,PA,Pennsylvania,42,23,172459
37,PR,Puerto Rico,72,3,36436,PR,Puerto Rico,72,3,36528
38,RI,Rhode Island,44,15,15920,RI,Rhode Island,44,15,15943
39,SC,South Carolina,45,37,65997,SC,South Carolina,45,37,66046
40,SD,South Dakota,46,67,12577,SD,South Dakota,46,67,12560
41,TN,Tennessee,47,54,149293,TN,Tennessee,47,54,149336
42,TT,U.S. Pacific Trust Territories and Possessions,75,5,1273,TT,U.S. Pacific Trust Territories and Possessions,75,5,1270
43,TX,Texas,48,74,781149,TX,Texas,48,74,780829
44,UT,Utah,49,87,115734,UT,Utah,49,87,115877
45,VA,Virginia,51,38,279547,VA,Virginia,51,38,279377
46,VI,U.S. Virgin Islands,78,4,5719,VI,U.S. Virgin Islands,78,4,5776
47,VT,Vermont,50,16,8762,VT,Vermont,50,16,8756
48,WA,Washington,53,93,216635,WA,Washington,53,93,216742
49,WI,Wisconsin,55,45,55001,WI,Wisconsin,55,45,55019
50,WV,West Virginia,54,39,4957,WV,West Virginia,54,39,4935
51,WY,Wyoming,56,88,11129,WY,Wyoming,56,88,11131

There don't appear to be any data entry issues with state abbreviations, state names or their FIPS codes. I will remove the FIPS and State Names columns and only keep the abbreviations. The FIPS and State Names will be preserved in a dictionary for use later if needed.

In [145]:
states_dict = {row['OriginState']: (row['OriginStateName'], row['OriginStateFips'], row['OriginWac'])
               for index, row in origin_states.iterrows()}
states_dict

{'AK': ('Alaska', 2, 1),
 'AL': ('Alabama', 1, 51),
 'AR': ('Arkansas', 5, 71),
 'AZ': ('Arizona', 4, 81),
 'CA': ('California', 6, 91),
 'CO': ('Colorado', 8, 82),
 'CT': ('Connecticut', 9, 11),
 'FL': ('Florida', 12, 33),
 'GA': ('Georgia', 13, 34),
 'HI': ('Hawaii', 15, 2),
 'IA': ('Iowa', 19, 61),
 'ID': ('Idaho', 16, 83),
 'IL': ('Illinois', 17, 41),
 'IN': ('Indiana', 18, 42),
 'KS': ('Kansas', 20, 62),
 'KY': ('Kentucky', 21, 52),
 'LA': ('Louisiana', 22, 72),
 'MA': ('Massachusetts', 25, 13),
 'MD': ('Maryland', 24, 35),
 'ME': ('Maine', 23, 12),
 'MI': ('Michigan', 26, 43),
 'MN': ('Minnesota', 27, 63),
 'MO': ('Missouri', 29, 64),
 'MS': ('Mississippi', 28, 53),
 'MT': ('Montana', 30, 84),
 'NC': ('North Carolina', 37, 36),
 'ND': ('North Dakota', 38, 66),
 'NE': ('Nebraska', 31, 65),
 'NH': ('New Hampshire', 33, 14),
 'NJ': ('New Jersey', 34, 21),
 'NM': ('New Mexico', 35, 86),
 'NV': ('Nevada', 32, 85),
 'NY': ('New York', 36, 22),
 'OH': ('Ohio', 39, 44),
 'OK': ('Oklahoma', 40, 73),
 'OR': ('Oregon', 41, 92),
 'PA': ('Pennsylvania', 42, 23),
 'PR': ('Puerto Rico', 72, 3),
 'RI': ('Rhode Island', 44, 15),
 'SC': ('South Carolina', 45, 37),
 'SD': ('South Dakota', 46, 67),
 'TN': ('Tennessee', 47, 54),
 'TT': ('U.S. Pacific Trust Territories and Possessions', 75, 5),
 'TX': ('Texas', 48, 74),
 'UT': ('Utah', 49, 87),
 'VA': ('Virginia', 51, 38),
 'VI': ('U.S. Virgin Islands', 78, 4),
 'VT': ('Vermont', 50, 16),
 'WA': ('Washington', 53, 93),
 'WI': ('Wisconsin', 55, 45),
 'WV': ('West Virginia', 54, 39),
 'WY': ('Wyoming', 56, 88)}

In [146]:
location_details_to_drop.extend(['OriginStateName', 'OriginStateFips', 'OriginWac', 'DestStateName', 'DestStateFips', 'DestWac'])
df = df.drop(columns=location_details_to_drop)

## Cleaning Departure and Arrival Performance Data

I will be able to apply data cleaning steps to the Depature-related columns. I will then need to separate out the cancelled flights to apply the changes to the Arrival-related columns. Cancelled flights are missing information about arrivals, so I need to preserve these NaN values for now.

In [147]:
df.head()

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,DOT_ID_Marketing_Airline,IATA_Code_Marketing_Airline,Flight_Number_Marketing_Airline,DOT_ID_Operating_Airline,IATA_Code_Operating_Airline,Tail_Number,OriginAirportID,OriginCityMarketID,Origin,OriginState,DestAirportID,DestCityMarketID,Dest,DestState,CRSDepTime,DepTime,DepDelay,DepDelayMinutes,DepDel15,DepartureDelayGroups,DepTimeBlk,TaxiOut,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrTime,ArrDelay,ArrDelayMinutes,ArrDel15,ArrivalDelayGroups,ArrTimeBlk,Cancelled,Diverted,CRSElapsedTime,ActualElapsedTime,AirTime,Flights,Distance,DistanceGroup,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,DivAirportLandings,Duplicate,FlightDate_date_only,Code_Share_Flight,Origin_City,Destination_City
0,2023,3,8,6,7,2023-08-06,20416,NK,2252,20416,NK,N978NK,12889,32211,LAS,NV,11057,31057,CLT,NC,2359,NaN,NaN,NaN,NaN,NaN,2300-2359,NaN,NaN,NaN,NaN,722,NaN,NaN,NaN,NaN,NaN,0700-0759,1.0,0.0,263.0,NaN,NaN,1.0,1916.0,8,NaN,NaN,NaN,NaN,NaN,0.0,N,2023-08-06,0,Las Vegas,Charlotte
1,2023,3,8,7,1,2023-08-07,20416,NK,2252,20416,NK,N974NK,12889,32211,LAS,NV,11057,31057,CLT,NC,2359,115.0,76.0,76.0,1.0,5.0,2300-2359,19.0,134.0,822.0,9.0,722,831.0,69.0,69.0,1.0,4.0,0700-0759,0.0,0.0,263.0,256.0,228.0,1.0,1916.0,8,3.0,0.0,1.0,0.0,65.0,0.0,N,2023-08-07,0,Las Vegas,Charlotte
2,2023,3,8,9,3,2023-08-09,20416,NK,2252,20416,NK,N519NK,12889,32211,LAS,NV,11057,31057,CLT,NC,2310,2259.0,-11.0,0.0,0.0,-1.0,2300-2359,14.0,2313.0,605.0,10.0,628,615.0,-13.0,0.0,0.0,-1.0,0600-0659,0.0,0.0,258.0,256.0,232.0,1.0,1916.0,8,NaN,NaN,NaN,NaN,NaN,0.0,N,2023-08-09,0,Las Vegas,Charlotte
3,2023,3,8,10,4,2023-08-10,20416,NK,2252,20416,NK,N532NK,12889,32211,LAS,NV,11057,31057,CLT,NC,2310,2302.0,-8.0,0.0,0.0,-1.0,2300-2359,12.0,2314.0,551.0,7.0,628,558.0,-30.0,0.0,0.0,-2.0,0600-0659,0.0,0.0,258.0,236.0,217.0,1.0,1916.0,8,NaN,NaN,NaN,NaN,NaN,0.0,N,2023-08-10,0,Las Vegas,Charlotte
4,2023,3,8,12,6,2023-08-12,20416,NK,2252,20416,NK,N529NK,12889,32211,LAS,NV,11057,31057,CLT,NC,2310,2314.0,4.0,4.0,0.0,0.0,2300-2359,18.0,2332.0,618.0,6.0,628,624.0,-4.0,0.0,0.0,-1.0,0600-0659,0.0,0.0,258.0,250.0,226.0,1.0,1916.0,8,NaN,NaN,NaN,NaN,NaN,0.0,N,2023-08-12,0,Las Vegas,Charlotte

In [148]:
df['CRSDepTime'].sort_values()

2805194       1
1822034       1
2395074       1
262265        1
2901124       1
           ...
3830642    2359
2005316    2359
3830585    2359
3830174    2359
0          2359
Name: CRSDepTime, Length: 7260941, dtype: int64

Several time columns are currently represented as integers and floats instead of time objects.

In [149]:
def convert_to_time(df, col):

    # conver time columns to integers, then strings and fill left spaces with 0
    df[col] = df[col].astype(int).astype(str).str.zfill(4)
    
    # insert a colon to create a time string format
    df[col] = df[col].str[:2] + ':' + df[col].str[2:]
    
    # Replace "24:00" with "00:00" to avoid conversion errors
    df[col] = df[col].replace('24:00', '00:00')

    # convert string to datetime time object
    df[col] = pd.to_datetime(df[col], format='%H:%M').dt.time

In [150]:
df_not_cancelled = df[~cancelled_flights].copy()
df_not_cancelled.head()

/var/folders/b2/nkpmrw0s42q_zm32rwshljyr0000gn/T/ipykernel_90747/230631579.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_not_cancelled = df[~cancelled_flights].copy()

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,DOT_ID_Marketing_Airline,IATA_Code_Marketing_Airline,Flight_Number_Marketing_Airline,DOT_ID_Operating_Airline,IATA_Code_Operating_Airline,Tail_Number,OriginAirportID,OriginCityMarketID,Origin,OriginState,DestAirportID,DestCityMarketID,Dest,DestState,CRSDepTime,DepTime,DepDelay,DepDelayMinutes,DepDel15,DepartureDelayGroups,DepTimeBlk,TaxiOut,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrTime,ArrDelay,ArrDelayMinutes,ArrDel15,ArrivalDelayGroups,ArrTimeBlk,Cancelled,Diverted,CRSElapsedTime,ActualElapsedTime,AirTime,Flights,Distance,DistanceGroup,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,DivAirportLandings,Duplicate,FlightDate_date_only,Code_Share_Flight,Origin_City,Destination_City
1,2023,3,8,7,1,2023-08-07,20416,NK,2252,20416,NK,N974NK,12889,32211,LAS,NV,11057,31057,CLT,NC,2359,115.0,76.0,76.0,1.0,5.0,2300-2359,19.0,134.0,822.0,9.0,722,831.0,69.0,69.0,1.0,4.0,0700-0759,0.0,0.0,263.0,256.0,228.0,1.0,1916.0,8,3.0,0.0,1.0,0.0,65.0,0.0,N,2023-08-07,0,Las Vegas,Charlotte
2,2023,3,8,9,3,2023-08-09,20416,NK,2252,20416,NK,N519NK,12889,32211,LAS,NV,11057,31057,CLT,NC,2310,2259.0,-11.0,0.0,0.0,-1.0,2300-2359,14.0,2313.0,605.0,10.0,628,615.0,-13.0,0.0,0.0,-1.0,0600-0659,0.0,0.0,258.0,256.0,232.0,1.0,1916.0,8,NaN,NaN,NaN,NaN,NaN,0.0,N,2023-08-09,0,Las Vegas,Charlotte
3,2023,3,8,10,4,2023-08-10,20416,NK,2252,20416,NK,N532NK,12889,32211,LAS,NV,11057,31057,CLT,NC,2310,2302.0,-8.0,0.0,0.0,-1.0,2300-2359,12.0,2314.0,551.0,7.0,628,558.0,-30.0,0.0,0.0,-2.0,0600-0659,0.0,0.0,258.0,236.0,217.0,1.0,1916.0,8,NaN,NaN,NaN,NaN,NaN,0.0,N,2023-08-10,0,Las Vegas,Charlotte
4,2023,3,8,12,6,2023-08-12,20416,NK,2252,20416,NK,N529NK,12889,32211,LAS,NV,11057,31057,CLT,NC,2310,2314.0,4.0,4.0,0.0,0.0,2300-2359,18.0,2332.0,618.0,6.0,628,624.0,-4.0,0.0,0.0,-1.0,0600-0659,0.0,0.0,258.0,250.0,226.0,1.0,1916.0,8,NaN,NaN,NaN,NaN,NaN,0.0,N,2023-08-12,0,Las Vegas,Charlotte
5,2023,3,8,13,7,2023-08-13,20416,NK,2252,20416,NK,N524NK,12889,32211,LAS,NV,11057,31057,CLT,NC,2310,3.0,53.0,53.0,1.0,3.0,2300-2359,24.0,27.0,731.0,9.0,628,740.0,72.0,72.0,1.0,4.0,0600-0659,0.0,0.0,258.0,277.0,244.0,1.0,1916.0,8,5.0,0.0,67.0,0.0,0.0,0.0,N,2023-08-13,0,Las Vegas,Charlotte

In [151]:
df_cancelled = df[cancelled_flights].copy()
df_cancelled.head()

/var/folders/b2/nkpmrw0s42q_zm32rwshljyr0000gn/T/ipykernel_90747/3027255791.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_cancelled = df[cancelled_flights].copy()

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,DOT_ID_Marketing_Airline,IATA_Code_Marketing_Airline,Flight_Number_Marketing_Airline,DOT_ID_Operating_Airline,IATA_Code_Operating_Airline,Tail_Number,OriginAirportID,OriginCityMarketID,Origin,OriginState,DestAirportID,DestCityMarketID,Dest,DestState,CRSDepTime,DepTime,DepDelay,DepDelayMinutes,DepDel15,DepartureDelayGroups,DepTimeBlk,TaxiOut,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrTime,ArrDelay,ArrDelayMinutes,ArrDel15,ArrivalDelayGroups,ArrTimeBlk,Cancelled,Diverted,CRSElapsedTime,ActualElapsedTime,AirTime,Flights,Distance,DistanceGroup,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,DivAirportLandings,Duplicate,FlightDate_date_only,Code_Share_Flight,Origin_City,Destination_City
0,2023,3,8,6,7,2023-08-06,20416,NK,2252,20416,NK,N978NK,12889,32211,LAS,NV,11057,31057,CLT,NC,2359,NaN,NaN,NaN,NaN,NaN,2300-2359,NaN,NaN,NaN,NaN,722,NaN,NaN,NaN,NaN,NaN,0700-0759,1.0,0.0,263.0,NaN,NaN,1.0,1916.0,8,NaN,NaN,NaN,NaN,NaN,0.0,N,2023-08-06,0,Las Vegas,Charlotte
53,2023,3,8,30,3,2023-08-30,20416,NK,226,20416,NK,N982NK,11697,32467,FLL,FL,10397,30397,ATL,GA,1505,1507.0,2.0,2.0,0.0,0.0,1500-1559,NaN,NaN,NaN,NaN,1700,NaN,NaN,NaN,NaN,NaN,1700-1759,1.0,0.0,115.0,NaN,NaN,1.0,581.0,3,NaN,NaN,NaN,NaN,NaN,0.0,N,2023-08-30,0,Fort Lauderdale,Atlanta
341,2023,3,8,10,4,2023-08-10,20416,NK,2326,20416,NK,N607NK,14843,34819,SJU,PR,10529,30529,BDL,CT,1505,NaN,NaN,NaN,NaN,NaN,1500-1559,NaN,NaN,NaN,NaN,1902,NaN,NaN,NaN,NaN,NaN,1900-1959,1.0,0.0,237.0,NaN,NaN,1.0,1666.0,7,NaN,NaN,NaN,NaN,NaN,0.0,N,2023-08-10,0,San Juan,Hartford
355,2023,3,8,10,4,2023-08-10,20416,NK,2327,20416,NK,N607NK,10529,30529,BDL,CT,14843,34819,SJU,PR,1957,NaN,NaN,NaN,NaN,NaN,1900-1959,NaN,NaN,NaN,NaN,2352,NaN,NaN,NaN,NaN,NaN,2300-2359,1.0,0.0,235.0,NaN,NaN,1.0,1666.0,7,NaN,NaN,NaN,NaN,NaN,0.0,N,2023-08-10,0,Hartford,San Juan
375,2023,3,8,11,5,2023-08-11,20416,NK,2328,20416,NK,N628NK,14843,34819,SJU,PR,10821,30852,BWI,MD,526,NaN,NaN,NaN,NaN,NaN,0001-0559,NaN,NaN,NaN,NaN,921,NaN,NaN,NaN,NaN,NaN,0900-0959,1.0,0.0,235.0,NaN,NaN,1.0,1565.0,7,NaN,NaN,NaN,NaN,NaN,0.0,N,2023-08-11,0,San Juan,Baltimore

In [152]:
# convert departure and arrival columns for not cancelled flights
columns_to_convert = ['CRSDepTime', 'DepTime', 'WheelsOff', 'WheelsOn', 'CRSArrTime', 'ArrTime']

for col in columns_to_convert:
    convert_to_time(df_not_cancelled, col)

In [153]:
# convert scheduled departure and arrival columns
columns_to_convert = ['CRSDepTime', 'CRSArrTime']

for col in columns_to_convert:
    convert_to_time(df_cancelled, col)

In [154]:
# convert columns into integers since they represent boolean details
df_not_cancelled[['Cancelled', 'Diverted', 'DepDel15', 'ArrDel15']] = df_not_cancelled[['Cancelled', 'Diverted', 'DepDel15', 'ArrDel15']].astype(int)

In [155]:
# convert columns into integers since they represent boolean details
df_cancelled[['Cancelled', 'Diverted']] = df_cancelled[['Cancelled', 'Diverted']].astype(int)

In [156]:
# merge
df_merged = pd.concat([df_not_cancelled, df_cancelled])
df_merged

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,DOT_ID_Marketing_Airline,IATA_Code_Marketing_Airline,Flight_Number_Marketing_Airline,DOT_ID_Operating_Airline,IATA_Code_Operating_Airline,Tail_Number,OriginAirportID,OriginCityMarketID,Origin,OriginState,DestAirportID,DestCityMarketID,Dest,DestState,CRSDepTime,DepTime,DepDelay,DepDelayMinutes,DepDel15,DepartureDelayGroups,DepTimeBlk,TaxiOut,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrTime,ArrDelay,ArrDelayMinutes,ArrDel15,ArrivalDelayGroups,ArrTimeBlk,Cancelled,Diverted,CRSElapsedTime,ActualElapsedTime,AirTime,Flights,Distance,DistanceGroup,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,DivAirportLandings,Duplicate,FlightDate_date_only,Code_Share_Flight,Origin_City,Destination_City
1,2023,3,8,7,1,2023-08-07,20416,NK,2252,20416,NK,N974NK,12889,32211,LAS,NV,11057,31057,CLT,NC,23:59:00,01:15:00,76.0,76.0,1.0,5.0,2300-2359,19.0,01:34:00,08:22:00,9.0,07:22:00,08:31:00,69.0,69.0,1.0,4.0,0700-0759,0,0,263.0,256.0,228.0,1.0,1916.0,8,3.0,0.0,1.0,0.0,65.0,0.0,N,2023-08-07,0,Las Vegas,Charlotte
2,2023,3,8,9,3,2023-08-09,20416,NK,2252,20416,NK,N519NK,12889,32211,LAS,NV,11057,31057,CLT,NC,23:10:00,22:59:00,-11.0,0.0,0.0,-1.0,2300-2359,14.0,23:13:00,06:05:00,10.0,06:28:00,06:15:00,-13.0,0.0,0.0,-1.0,0600-0659,0,0,258.0,256.0,232.0,1.0,1916.0,8,NaN,NaN,NaN,NaN,NaN,0.0,N,2023-08-09,0,Las Vegas,Charlotte
3,2023,3,8,10,4,2023-08-10,20416,NK,2252,20416,NK,N532NK,12889,32211,LAS,NV,11057,31057,CLT,NC,23:10:00,23:02:00,-8.0,0.0,0.0,-1.0,2300-2359,12.0,23:14:00,05:51:00,7.0,06:28:00,05:58:00,-30.0,0.0,0.0,-2.0,0600-0659,0,0,258.0,236.0,217.0,1.0,1916.0,8,NaN,NaN,NaN,NaN,NaN,0.0,N,2023-08-10,0,Las Vegas,Charlotte
4,2023,3,8,12,6,2023-08-12,20416,NK,2252,20416,NK,N529NK,12889,32211,LAS,NV,11057,31057,CLT,NC,23:10:00,23:14:00,4.0,4.0,0.0,0.0,2300-2359,18.0,23:32:00,06:18:00,6.0,06:28:00,06:24:00,-4.0,0.0,0.0,-1.0,0600-0659,0,0,258.0,250.0,226.0,1.0,1916.0,8,NaN,NaN,NaN,NaN,NaN,0.0,N,2023-08-12,0,Las Vegas,Charlotte
5,2023,3,8,13,7,2023-08-13,20416,NK,2252,20416,NK,N524NK,12889,32211,LAS,NV,11057,31057,CLT,NC,23:10:00,00:03:00,53.0,53.0,1.0,3.0,2300-2359,24.0,00:27:00,07:31:00,9.0,06:28:00,07:40:00,72.0,72.0,1.0,4.0,0600-0659,0,0,258.0,277.0,244.0,1.0,1916.0,8,5.0,0.0,67.0,0.0,0.0,0.0,N,2023-08-13,0,Las Vegas,Charlotte
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7278409,2023,1,3,4,6,2023-03-04,19805,AA,5160,20397,OH,NaN,13296,30721,MHT,NH,11278,30852,DCA,VA,05:54:00,NaN,NaN,NaN,NaN,NaN,0001-0559,NaN,NaN,NaN,NaN,07:48:00,NaN,NaN,NaN,NaN,NaN,0700-0759,1,0,114.0,NaN,NaN,1.0,406.0,2,NaN,NaN,NaN,NaN,NaN,0.0,N,2023-03-04,1,Manchester,"Washington, DC"
7278420,2023,1,3,15,3,2023-03-15,19805,AA,5160,20397,OH,NaN,13296,30721,MHT,NH,11278,30852,DCA,VA,05:54:00,NaN,NaN,NaN,NaN,NaN,0001-0559,NaN,NaN,NaN,NaN,07:48:00,NaN,NaN,NaN,NaN,NaN,0700-0759,1,0,114.0,NaN,NaN,1.0,406.0,2,NaN,NaN,NaN,NaN,NaN,0.0,N,2023-03-15,1,Manchester,"Washington, DC"
7278554,2023,1,3,3,5,2023-03-03,19805,AA,5164,20397,OH,N526EA,11278,30852,DCA,VA,11146,31146,CRW,WV,20:20:00,NaN,NaN,NaN,NaN,NaN,2000-2059,NaN,NaN,NaN,NaN,21:45:00,NaN,NaN,NaN,NaN,NaN,2100-2159,1,0,85.0,NaN,NaN,1.0,249.0,1,NaN,NaN,NaN,NaN,NaN,0.0,N,2023-03-03,1,"Washington, DC",Charleston/Dunbar
7278576,2023,1,3,25,6,2023-03-25,19805,AA,5164,20397,OH,N527EA,11278,30852,DCA,VA,11146,31146,CRW,WV,19:55:00,NaN,NaN,NaN,NaN,NaN,1900-1959,NaN,NaN,NaN,NaN,21:14:00,NaN,NaN,NaN,NaN,NaN,2100-2159,1,0,79.0,NaN,NaN,1.0,249.0,1,NaN,NaN,NaN,NaN,NaN,0.0,N,2023-03-25,1,"Washington, DC",Charleston/Dunbar
7278598,2023,1,3,16,4,2023-03-16,19805,AA,5165,20397,OH,N559NN,11267,31267,DAY,OH,11298,30194,DFW,TX,14:03:00,NaN,NaN,NaN,NaN,NaN,1400-1459,NaN,NaN,NaN,NaN,15:55:00,NaN,NaN,NaN,NaN,NaN,1500-1559,1,0,172.0,NaN,NaN,1.0,861.0,4,NaN,NaN,NaN,NaN,NaN,0.0,N,2023-03-16,1,Dayton,Dallas/Fort Worth

For the `DepDelay` vs `DepDelayMinutes` and `ArrDelay` vs `ArrDelayMinutes` columns, the only difference is that in the Minutes columns, early departures or arrivals are set to 0 instead of a negative number. This is redundant information so we can remove these columns.

In [157]:
# delete redundant columns
df_merged = df_merged.drop(columns=['DepDelayMinutes', 'ArrDelayMinutes'])

In [158]:
df_merged.head()

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,DOT_ID_Marketing_Airline,IATA_Code_Marketing_Airline,Flight_Number_Marketing_Airline,DOT_ID_Operating_Airline,IATA_Code_Operating_Airline,Tail_Number,OriginAirportID,OriginCityMarketID,Origin,OriginState,DestAirportID,DestCityMarketID,Dest,DestState,CRSDepTime,DepTime,DepDelay,DepDel15,DepartureDelayGroups,DepTimeBlk,TaxiOut,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrTime,ArrDelay,ArrDel15,ArrivalDelayGroups,ArrTimeBlk,Cancelled,Diverted,CRSElapsedTime,ActualElapsedTime,AirTime,Flights,Distance,DistanceGroup,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,DivAirportLandings,Duplicate,FlightDate_date_only,Code_Share_Flight,Origin_City,Destination_City
1,2023,3,8,7,1,2023-08-07,20416,NK,2252,20416,NK,N974NK,12889,32211,LAS,NV,11057,31057,CLT,NC,23:59:00,01:15:00,76.0,1.0,5.0,2300-2359,19.0,01:34:00,08:22:00,9.0,07:22:00,08:31:00,69.0,1.0,4.0,0700-0759,0,0,263.0,256.0,228.0,1.0,1916.0,8,3.0,0.0,1.0,0.0,65.0,0.0,N,2023-08-07,0,Las Vegas,Charlotte
2,2023,3,8,9,3,2023-08-09,20416,NK,2252,20416,NK,N519NK,12889,32211,LAS,NV,11057,31057,CLT,NC,23:10:00,22:59:00,-11.0,0.0,-1.0,2300-2359,14.0,23:13:00,06:05:00,10.0,06:28:00,06:15:00,-13.0,0.0,-1.0,0600-0659,0,0,258.0,256.0,232.0,1.0,1916.0,8,NaN,NaN,NaN,NaN,NaN,0.0,N,2023-08-09,0,Las Vegas,Charlotte
3,2023,3,8,10,4,2023-08-10,20416,NK,2252,20416,NK,N532NK,12889,32211,LAS,NV,11057,31057,CLT,NC,23:10:00,23:02:00,-8.0,0.0,-1.0,2300-2359,12.0,23:14:00,05:51:00,7.0,06:28:00,05:58:00,-30.0,0.0,-2.0,0600-0659,0,0,258.0,236.0,217.0,1.0,1916.0,8,NaN,NaN,NaN,NaN,NaN,0.0,N,2023-08-10,0,Las Vegas,Charlotte
4,2023,3,8,12,6,2023-08-12,20416,NK,2252,20416,NK,N529NK,12889,32211,LAS,NV,11057,31057,CLT,NC,23:10:00,23:14:00,4.0,0.0,0.0,2300-2359,18.0,23:32:00,06:18:00,6.0,06:28:00,06:24:00,-4.0,0.0,-1.0,0600-0659,0,0,258.0,250.0,226.0,1.0,1916.0,8,NaN,NaN,NaN,NaN,NaN,0.0,N,2023-08-12,0,Las Vegas,Charlotte
5,2023,3,8,13,7,2023-08-13,20416,NK,2252,20416,NK,N524NK,12889,32211,LAS,NV,11057,31057,CLT,NC,23:10:00,00:03:00,53.0,1.0,3.0,2300-2359,24.0,00:27:00,07:31:00,9.0,06:28:00,07:40:00,72.0,1.0,4.0,0600-0659,0,0,258.0,277.0,244.0,1.0,1916.0,8,5.0,0.0,67.0,0.0,0.0,0.0,N,2023-08-13,0,Las Vegas,Charlotte

In [159]:
# Split the 'DepTimeBlk' into two columns to see if all blocks are 59 minutes long or are there some that are longer and shorter
df_merged['DeptTimeBlk_Start'] = df_merged['DepTimeBlk'].str.split('-').str[0].astype(int)
df_merged['DeptTimeBlk_End'] = df_merged['DepTimeBlk'].str.split('-').str[1].astype(int)

# Split the 'ArrTimeBlk' into two columns to see if all blocks are 59 minutes long or are there some that are longer and shorter
df_merged['ArrTimeBlk_Start'] = df_merged['ArrTimeBlk'].str.split('-').str[0].astype(int)
df_merged['ArrTimeBlk_End'] = df_merged['ArrTimeBlk'].str.split('-').str[1].astype(int)

In [160]:
df_merged['ArrivalBlock_Total'] = df_merged['ArrTimeBlk_End'] - df_merged['ArrTimeBlk_Start']
df_merged['DepartureBlock_Total'] = df_merged['DeptTimeBlk_End'] - df_merged['DeptTimeBlk_Start']

In [161]:
df_merged[['DepartureBlock_Total', 'ArrivalBlock_Total']].describe().apply(lambda x: x.apply('{0:.2f}'.format))

      DepartureBlock_Total ArrivalBlock_Total
count           7260941.00         7260941.00
mean                 74.18              72.08
std                  85.69              79.72
min                  59.00              59.00
25%                  59.00              59.00
50%                  59.00              59.00
75%                  59.00              59.00
max                 558.00             558.00

I'm curious to know why some flights have 558 minutes for their scheduled block. Let's take a look.

In [162]:
df_merged.sort_values('DepartureBlock_Total', ascending=False).head(10)

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,DOT_ID_Marketing_Airline,IATA_Code_Marketing_Airline,Flight_Number_Marketing_Airline,DOT_ID_Operating_Airline,IATA_Code_Operating_Airline,Tail_Number,OriginAirportID,OriginCityMarketID,Origin,OriginState,DestAirportID,DestCityMarketID,Dest,DestState,CRSDepTime,DepTime,DepDelay,DepDel15,DepartureDelayGroups,DepTimeBlk,TaxiOut,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrTime,ArrDelay,ArrDel15,ArrivalDelayGroups,ArrTimeBlk,Cancelled,Diverted,CRSElapsedTime,ActualElapsedTime,AirTime,Flights,Distance,DistanceGroup,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,DivAirportLandings,Duplicate,FlightDate_date_only,Code_Share_Flight,Origin_City,Destination_City,DeptTimeBlk_Start,DeptTimeBlk_End,ArrTimeBlk_Start,ArrTimeBlk_End,ArrivalBlock_Total,DepartureBlock_Total
3748361,2023,2,4,28,5,2023-04-28,19393,WN,3677,19393,WN,N935WN,10423,30423,AUS,TX,13232,30977,MDW,IL,05:40:00,05:39:00,-1.0,0.0,-1.0,0001-0559,14.0,05:53:00,07:57:00,13.0,08:10:00,08:10:00,0.0,0.0,0.0,0800-0859,0,0,150.0,151.0,124.0,1.0,972.0,4,NaN,NaN,NaN,NaN,NaN,0.0,N,2023-04-28,0,Austin,Chicago,1,559,800,859,59,558
1747687,2023,3,7,8,6,2023-07-08,19790,DL,2264,19790,DL,N329NW,11775,31775,FSD,SD,10397,30397,ATL,GA,05:20:00,05:16:00,-4.0,0.0,-1.0,0001-0559,10.0,05:26:00,08:21:00,6.0,08:47:00,08:27:00,-20.0,0.0,-2.0,0800-0859,0,0,147.0,131.0,115.0,1.0,954.0,4,NaN,NaN,NaN,NaN,NaN,0.0,N,2023-07-08,0,Sioux Falls,Atlanta,1,559,800,859,59,558
1747703,2023,3,7,24,1,2023-07-24,19790,DL,2264,19790,DL,N373NW,11775,31775,FSD,SD,10397,30397,ATL,GA,05:20:00,05:08:00,-12.0,0.0,-1.0,0001-0559,12.0,05:20:00,08:18:00,6.0,08:49:00,08:24:00,-25.0,0.0,-2.0,0800-0859,0,0,149.0,136.0,118.0,1.0,954.0,4,NaN,NaN,NaN,NaN,NaN,0.0,N,2023-07-24,0,Sioux Falls,Atlanta,1,559,800,859,59,558
1747702,2023,3,7,23,7,2023-07-23,19790,DL,2264,19790,DL,N356NW,11775,31775,FSD,SD,10397,30397,ATL,GA,05:20:00,05:18:00,-2.0,0.0,-1.0,0001-0559,9.0,05:27:00,08:21:00,4.0,08:49:00,08:25:00,-24.0,0.0,-2.0,0800-0859,0,0,149.0,127.0,114.0,1.0,954.0,4,NaN,NaN,NaN,NaN,NaN,0.0,N,2023-07-23,0,Sioux Falls,Atlanta,1,559,800,859,59,558
1747700,2023,3,7,21,5,2023-07-21,19790,DL,2264,19790,DL,N369NW,11775,31775,FSD,SD,10397,30397,ATL,GA,05:20:00,05:17:00,-3.0,0.0,-1.0,0001-0559,9.0,05:26:00,08:20:00,19.0,08:49:00,08:39:00,-10.0,0.0,-1.0,0800-0859,0,0,149.0,142.0,114.0,1.0,954.0,4,NaN,NaN,NaN,NaN,NaN,0.0,N,2023-07-21,0,Sioux Falls,Atlanta,1,559,800,859,59,558
1747699,2023,3,7,20,4,2023-07-20,19790,DL,2264,19790,DL,N331NW,11775,31775,FSD,SD,10397,30397,ATL,GA,05:20:00,05:18:00,-2.0,0.0,-1.0,0001-0559,11.0,05:29:00,08:24:00,14.0,08:49:00,08:38:00,-11.0,0.0,-1.0,0800-0859,0,0,149.0,140.0,115.0,1.0,954.0,4,NaN,NaN,NaN,NaN,NaN,0.0,N,2023-07-20,0,Sioux Falls,Atlanta,1,559,800,859,59,558
1747698,2023,3,7,19,3,2023-07-19,19790,DL,2264,19790,DL,N317US,11775,31775,FSD,SD,10397,30397,ATL,GA,05:20:00,06:54:00,94.0,1.0,6.0,0001-0559,13.0,07:07:00,10:10:00,7.0,08:49:00,10:17:00,88.0,1.0,5.0,0800-0859,0,0,149.0,143.0,123.0,1.0,954.0,4,88.0,0.0,0.0,0.0,0.0,0.0,N,2023-07-19,0,Sioux Falls,Atlanta,1,559,800,859,59,558
1747697,2023,3,7,18,2,2023-07-18,19790,DL,2264,19790,DL,N364NW,11775,31775,FSD,SD,10397,30397,ATL,GA,05:20:00,05:58:00,38.0,1.0,2.0,0001-0559,11.0,06:09:00,09:00:00,8.0,08:49:00,09:08:00,19.0,1.0,1.0,0800-0859,0,0,149.0,130.0,111.0,1.0,954.0,4,19.0,0.0,0.0,0.0,0.0,0.0,N,2023-07-18,0,Sioux Falls,Atlanta,1,559,800,859,59,558
1747695,2023,3,7,16,7,2023-07-16,19790,DL,2264,19790,DL,N331NW,11775,31775,FSD,SD,10397,30397,ATL,GA,05:20:00,05:45:00,25.0,1.0,1.0,0001-0559,12.0,05:57:00,08:47:00,7.0,08:49:00,08:54:00,5.0,0.0,0.0,0800-0859,0,0,149.0,129.0,110.0,1.0,954.0,4,NaN,NaN,NaN,NaN,NaN,0.0,N,2023-07-16,0,Sioux Falls,Atlanta,1,559,800,859,59,558
1747694,2023,3,7,15,6,2023-07-15,19790,DL,2264,19790,DL,N365NW,11775,31775,FSD,SD,10397,30397,ATL,GA,05:20:00,05:37:00,17.0,1.0,1.0,0001-0559,12.0,05:49:00,09:02:00,6.0,08:49:00,09:08:00,19.0,1.0,1.0,0800-0859,0,0,149.0,151.0,133.0,1.0,954.0,4,17.0,0.0,2.0,0.0,0.0,0.0,N,2023-07-15,0,Sioux Falls,Atlanta,1,559,800,859,59,558

In [163]:
from datetime import time

after_midnight_flights = df_merged[df_merged['CRSDepTime'] > time(0, 0)]
after_midnight_flights.sort_values('CRSDepTime').head()

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,DOT_ID_Marketing_Airline,IATA_Code_Marketing_Airline,Flight_Number_Marketing_Airline,DOT_ID_Operating_Airline,IATA_Code_Operating_Airline,Tail_Number,OriginAirportID,OriginCityMarketID,Origin,OriginState,DestAirportID,DestCityMarketID,Dest,DestState,CRSDepTime,DepTime,DepDelay,DepDel15,DepartureDelayGroups,DepTimeBlk,TaxiOut,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrTime,ArrDelay,ArrDel15,ArrivalDelayGroups,ArrTimeBlk,Cancelled,Diverted,CRSElapsedTime,ActualElapsedTime,AirTime,Flights,Distance,DistanceGroup,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,DivAirportLandings,Duplicate,FlightDate_date_only,Code_Share_Flight,Origin_City,Destination_City,DeptTimeBlk_Start,DeptTimeBlk_End,ArrTimeBlk_Start,ArrTimeBlk_End,ArrivalBlock_Total,DepartureBlock_Total
7211275,2023,1,3,2,4,2023-03-02,20436,F9,738,20436,F9,N391FR,11292,30325,DEN,CO,15304,33195,TPA,FL,00:01:00,01:08:00,67.0,1.0,4.0,0001-0559,10.0,01:18:00,06:06:00,13.0,05:29:00,06:19:00,50.0,1.0,3.0,0001-0559,0,0,208.0,191.0,168.0,1.0,1506.0,7,15.0,0.0,0.0,0.0,35.0,0.0,N,2023-03-02,0,Denver,Tampa,1,559,1,559,558,558
2902292,2023,2,6,25,7,2023-06-25,20436,F9,1102,20436,F9,N369FR,12889,32211,LAS,NV,13204,31454,MCO,FL,00:01:00,00:32:00,31.0,1.0,2.0,0001-0559,11.0,00:43:00,07:41:00,9.0,07:33:00,07:50:00,17.0,1.0,1.0,0700-0759,0,0,272.0,258.0,238.0,1.0,2039.0,9,17.0,0.0,0.0,0.0,0.0,0.0,N,2023-06-25,0,Las Vegas,Orlando,1,559,700,759,59,558
4586198,2023,2,5,18,4,2023-05-18,20436,F9,2968,20436,F9,N341FR,12889,32211,LAS,NV,13204,31454,MCO,FL,00:01:00,23:54:00,-7.0,0.0,-1.0,0001-0559,26.0,00:20:00,07:25:00,13.0,07:33:00,07:38:00,5.0,0.0,0.0,0700-0759,0,0,272.0,284.0,245.0,1.0,2039.0,9,NaN,NaN,NaN,NaN,NaN,0.0,N,2023-05-18,0,Las Vegas,Orlando,1,559,700,759,59,558
2894667,2023,2,6,9,5,2023-06-09,20436,F9,1102,20436,F9,N324FR,12889,32211,LAS,NV,13204,31454,MCO,FL,00:01:00,00:22:00,21.0,1.0,1.0,0001-0559,16.0,00:38:00,07:32:00,10.0,07:33:00,07:42:00,9.0,0.0,0.0,0700-0759,0,0,272.0,260.0,234.0,1.0,2039.0,9,NaN,NaN,NaN,NaN,NaN,0.0,N,2023-06-09,0,Las Vegas,Orlando,1,559,700,759,59,558
6213019,2023,1,2,23,4,2023-02-23,20436,F9,738,20436,F9,N395FR,11292,30325,DEN,CO,15304,33195,TPA,FL,00:01:00,00:41:00,40.0,1.0,2.0,0001-0559,26.0,01:07:00,05:58:00,7.0,05:29:00,06:05:00,36.0,1.0,2.0,0001-0559,0,0,208.0,204.0,171.0,1.0,1506.0,7,36.0,0.0,0.0,0.0,0.0,0.0,N,2023-02-23,0,Denver,Tampa,1,559,1,559,558,558

Flights that depart or arrive after midnight and before 6AM have 558 minutes blocked for their departure/arrival time. All other flights only have 59 minutes for their scheduled block. This is likely due to allow for logistics and scheduling for airport operations for these overnight/really early flights. It may be helpful to categorize flights as overnight departure or overnight arrival events compared to all other flights.

In [164]:
overnight_departures = (df_merged['DepartureBlock_Total'] > 60)
overnight_arrivals = (df_merged['ArrivalBlock_Total'] > 60)

In [165]:
df_merged['Overnight_Depature'] = overnight_departures.astype(int)
df_merged['Overnight_Arrival'] = overnight_arrivals.astype(int)

In [166]:
df_merged.sort_values('CRSDepTime').head()

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,DOT_ID_Marketing_Airline,IATA_Code_Marketing_Airline,Flight_Number_Marketing_Airline,DOT_ID_Operating_Airline,IATA_Code_Operating_Airline,Tail_Number,OriginAirportID,OriginCityMarketID,Origin,OriginState,DestAirportID,DestCityMarketID,Dest,DestState,CRSDepTime,DepTime,DepDelay,DepDel15,DepartureDelayGroups,DepTimeBlk,TaxiOut,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrTime,ArrDelay,ArrDel15,ArrivalDelayGroups,ArrTimeBlk,Cancelled,Diverted,CRSElapsedTime,ActualElapsedTime,AirTime,Flights,Distance,DistanceGroup,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,DivAirportLandings,Duplicate,FlightDate_date_only,Code_Share_Flight,Origin_City,Destination_City,DeptTimeBlk_Start,DeptTimeBlk_End,ArrTimeBlk_Start,ArrTimeBlk_End,ArrivalBlock_Total,DepartureBlock_Total,Overnight_Depature,Overnight_Arrival
7211275,2023,1,3,2,4,2023-03-02,20436,F9,738,20436,F9,N391FR,11292,30325,DEN,CO,15304,33195,TPA,FL,00:01:00,01:08:00,67.0,1.0,4.0,0001-0559,10.0,01:18:00,06:06:00,13.0,05:29:00,06:19:00,50.0,1.0,3.0,0001-0559,0,0,208.0,191.0,168.0,1.0,1506.0,7,15.0,0.0,0.0,0.0,35.0,0.0,N,2023-03-02,0,Denver,Tampa,1,559,1,559,558,558,1,1
2902292,2023,2,6,25,7,2023-06-25,20436,F9,1102,20436,F9,N369FR,12889,32211,LAS,NV,13204,31454,MCO,FL,00:01:00,00:32:00,31.0,1.0,2.0,0001-0559,11.0,00:43:00,07:41:00,9.0,07:33:00,07:50:00,17.0,1.0,1.0,0700-0759,0,0,272.0,258.0,238.0,1.0,2039.0,9,17.0,0.0,0.0,0.0,0.0,0.0,N,2023-06-25,0,Las Vegas,Orlando,1,559,700,759,59,558,1,0
4586198,2023,2,5,18,4,2023-05-18,20436,F9,2968,20436,F9,N341FR,12889,32211,LAS,NV,13204,31454,MCO,FL,00:01:00,23:54:00,-7.0,0.0,-1.0,0001-0559,26.0,00:20:00,07:25:00,13.0,07:33:00,07:38:00,5.0,0.0,0.0,0700-0759,0,0,272.0,284.0,245.0,1.0,2039.0,9,NaN,NaN,NaN,NaN,NaN,0.0,N,2023-05-18,0,Las Vegas,Orlando,1,559,700,759,59,558,1,0
2894667,2023,2,6,9,5,2023-06-09,20436,F9,1102,20436,F9,N324FR,12889,32211,LAS,NV,13204,31454,MCO,FL,00:01:00,00:22:00,21.0,1.0,1.0,0001-0559,16.0,00:38:00,07:32:00,10.0,07:33:00,07:42:00,9.0,0.0,0.0,0700-0759,0,0,272.0,260.0,234.0,1.0,2039.0,9,NaN,NaN,NaN,NaN,NaN,0.0,N,2023-06-09,0,Las Vegas,Orlando,1,559,700,759,59,558,1,0
6213019,2023,1,2,23,4,2023-02-23,20436,F9,738,20436,F9,N395FR,11292,30325,DEN,CO,15304,33195,TPA,FL,00:01:00,00:41:00,40.0,1.0,2.0,0001-0559,26.0,01:07:00,05:58:00,7.0,05:29:00,06:05:00,36.0,1.0,2.0,0001-0559,0,0,208.0,204.0,171.0,1.0,1506.0,7,36.0,0.0,0.0,0.0,0.0,0.0,N,2023-02-23,0,Denver,Tampa,1,559,1,559,558,558,1,1

In [167]:
flight_perf_to_drop = ['DepTimeBlk', 'ArrTimeBlk', 'DeptTimeBlk_Start', 'DeptTimeBlk_End', 'ArrTimeBlk_Start', 'ArrTimeBlk_End', 'ArrivalBlock_Total', 'DepartureBlock_Total']
df_merged = df_merged.drop(columns=flight_perf_to_drop)

In [168]:
df_merged.head()

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,DOT_ID_Marketing_Airline,IATA_Code_Marketing_Airline,Flight_Number_Marketing_Airline,DOT_ID_Operating_Airline,IATA_Code_Operating_Airline,Tail_Number,OriginAirportID,OriginCityMarketID,Origin,OriginState,DestAirportID,DestCityMarketID,Dest,DestState,CRSDepTime,DepTime,DepDelay,DepDel15,DepartureDelayGroups,TaxiOut,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrTime,ArrDelay,ArrDel15,ArrivalDelayGroups,Cancelled,Diverted,CRSElapsedTime,ActualElapsedTime,AirTime,Flights,Distance,DistanceGroup,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,DivAirportLandings,Duplicate,FlightDate_date_only,Code_Share_Flight,Origin_City,Destination_City,Overnight_Depature,Overnight_Arrival
1,2023,3,8,7,1,2023-08-07,20416,NK,2252,20416,NK,N974NK,12889,32211,LAS,NV,11057,31057,CLT,NC,23:59:00,01:15:00,76.0,1.0,5.0,19.0,01:34:00,08:22:00,9.0,07:22:00,08:31:00,69.0,1.0,4.0,0,0,263.0,256.0,228.0,1.0,1916.0,8,3.0,0.0,1.0,0.0,65.0,0.0,N,2023-08-07,0,Las Vegas,Charlotte,0,0
2,2023,3,8,9,3,2023-08-09,20416,NK,2252,20416,NK,N519NK,12889,32211,LAS,NV,11057,31057,CLT,NC,23:10:00,22:59:00,-11.0,0.0,-1.0,14.0,23:13:00,06:05:00,10.0,06:28:00,06:15:00,-13.0,0.0,-1.0,0,0,258.0,256.0,232.0,1.0,1916.0,8,NaN,NaN,NaN,NaN,NaN,0.0,N,2023-08-09,0,Las Vegas,Charlotte,0,0
3,2023,3,8,10,4,2023-08-10,20416,NK,2252,20416,NK,N532NK,12889,32211,LAS,NV,11057,31057,CLT,NC,23:10:00,23:02:00,-8.0,0.0,-1.0,12.0,23:14:00,05:51:00,7.0,06:28:00,05:58:00,-30.0,0.0,-2.0,0,0,258.0,236.0,217.0,1.0,1916.0,8,NaN,NaN,NaN,NaN,NaN,0.0,N,2023-08-10,0,Las Vegas,Charlotte,0,0
4,2023,3,8,12,6,2023-08-12,20416,NK,2252,20416,NK,N529NK,12889,32211,LAS,NV,11057,31057,CLT,NC,23:10:00,23:14:00,4.0,0.0,0.0,18.0,23:32:00,06:18:00,6.0,06:28:00,06:24:00,-4.0,0.0,-1.0,0,0,258.0,250.0,226.0,1.0,1916.0,8,NaN,NaN,NaN,NaN,NaN,0.0,N,2023-08-12,0,Las Vegas,Charlotte,0,0
5,2023,3,8,13,7,2023-08-13,20416,NK,2252,20416,NK,N524NK,12889,32211,LAS,NV,11057,31057,CLT,NC,23:10:00,00:03:00,53.0,1.0,3.0,24.0,00:27:00,07:31:00,9.0,06:28:00,07:40:00,72.0,1.0,4.0,0,0,258.0,277.0,244.0,1.0,1916.0,8,5.0,0.0,67.0,0.0,0.0,0.0,N,2023-08-13,0,Las Vegas,Charlotte,0,0

## Check for duplicates

In [169]:
df_merged.duplicated().sum()

0

In [170]:
df_merged['Duplicate'].value_counts()

Duplicate
N    7260941
Name: count, dtype: int64

In [171]:
df_merged = df_merged.drop(columns='Duplicate')

## Check column values

In [172]:
df_merged['Flights'].value_counts()

Flights
1.0    7260941
Name: count, dtype: int64

The `Flights` column only contains the same value across all rows and is therefore not providing any new information.

In [173]:
df_merged.drop(columns='Flights', inplace=True)

In [174]:
# check unique values for day of
np.sort(df_merged['DayOfWeek'].unique())

array([1, 2, 3, 4, 5, 6, 7])

There are only 7 unique values for day of week, as I would expect. According to the data dictionary, 1 = Monday and 7 = Sunday. They reserve 9 for unknown day of week, however, there are no occurences of an unknown day of week in this dataset.

In [175]:
df_merged.head()

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,DOT_ID_Marketing_Airline,IATA_Code_Marketing_Airline,Flight_Number_Marketing_Airline,DOT_ID_Operating_Airline,IATA_Code_Operating_Airline,Tail_Number,OriginAirportID,OriginCityMarketID,Origin,OriginState,DestAirportID,DestCityMarketID,Dest,DestState,CRSDepTime,DepTime,DepDelay,DepDel15,DepartureDelayGroups,TaxiOut,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrTime,ArrDelay,ArrDel15,ArrivalDelayGroups,Cancelled,Diverted,CRSElapsedTime,ActualElapsedTime,AirTime,Distance,DistanceGroup,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,DivAirportLandings,FlightDate_date_only,Code_Share_Flight,Origin_City,Destination_City,Overnight_Depature,Overnight_Arrival
1,2023,3,8,7,1,2023-08-07,20416,NK,2252,20416,NK,N974NK,12889,32211,LAS,NV,11057,31057,CLT,NC,23:59:00,01:15:00,76.0,1.0,5.0,19.0,01:34:00,08:22:00,9.0,07:22:00,08:31:00,69.0,1.0,4.0,0,0,263.0,256.0,228.0,1916.0,8,3.0,0.0,1.0,0.0,65.0,0.0,2023-08-07,0,Las Vegas,Charlotte,0,0
2,2023,3,8,9,3,2023-08-09,20416,NK,2252,20416,NK,N519NK,12889,32211,LAS,NV,11057,31057,CLT,NC,23:10:00,22:59:00,-11.0,0.0,-1.0,14.0,23:13:00,06:05:00,10.0,06:28:00,06:15:00,-13.0,0.0,-1.0,0,0,258.0,256.0,232.0,1916.0,8,NaN,NaN,NaN,NaN,NaN,0.0,2023-08-09,0,Las Vegas,Charlotte,0,0
3,2023,3,8,10,4,2023-08-10,20416,NK,2252,20416,NK,N532NK,12889,32211,LAS,NV,11057,31057,CLT,NC,23:10:00,23:02:00,-8.0,0.0,-1.0,12.0,23:14:00,05:51:00,7.0,06:28:00,05:58:00,-30.0,0.0,-2.0,0,0,258.0,236.0,217.0,1916.0,8,NaN,NaN,NaN,NaN,NaN,0.0,2023-08-10,0,Las Vegas,Charlotte,0,0
4,2023,3,8,12,6,2023-08-12,20416,NK,2252,20416,NK,N529NK,12889,32211,LAS,NV,11057,31057,CLT,NC,23:10:00,23:14:00,4.0,0.0,0.0,18.0,23:32:00,06:18:00,6.0,06:28:00,06:24:00,-4.0,0.0,-1.0,0,0,258.0,250.0,226.0,1916.0,8,NaN,NaN,NaN,NaN,NaN,0.0,2023-08-12,0,Las Vegas,Charlotte,0,0
5,2023,3,8,13,7,2023-08-13,20416,NK,2252,20416,NK,N524NK,12889,32211,LAS,NV,11057,31057,CLT,NC,23:10:00,00:03:00,53.0,1.0,3.0,24.0,00:27:00,07:31:00,9.0,06:28:00,07:40:00,72.0,1.0,4.0,0,0,258.0,277.0,244.0,1916.0,8,5.0,0.0,67.0,0.0,0.0,0.0,2023-08-13,0,Las Vegas,Charlotte,0,0

# Review IATA Codes Data

I'll inpsect the IATA Codes dataset and fill in the Marketing and Operating Airline codes with the airline names for readability.

In [176]:
df_codes.head()

    Code                      Description
0  19031   Mackey International Inc.: MAC
1  19032  Munz Northern Airlines Inc.: XY
2  19033       Cochise Airlines Inc.: COC
3  19034   Golden Gate Airlines Inc.: GSA
4  19035               Aeromech Inc.: RZZ

In [177]:
df_codes.shape

(1737, 2)

In [178]:
df_codes['Airline_Name'] = df_codes['Description'].str.split(':').str[0].str.strip()
df_codes['IATA_Code'] = df_codes['Description'].str.split(':').str[1].str.strip()

In [179]:
df_codes.head()

,Code,Description,Airline_Name,IATA_Code
0,19031,Mackey International Inc.: MAC,Mackey International Inc.,MAC
1,19032,Munz Northern Airlines Inc.: XY,Munz Northern Airlines Inc.,XY
2,19033,Cochise Airlines Inc.: COC,Cochise Airlines Inc.,COC
3,19034,Golden Gate Airlines Inc.: GSA,Golden Gate Airlines Inc.,GSA
4,19035,Aeromech Inc.: RZZ,Aeromech Inc.,RZZ

In [180]:
duplicate_iata = df_codes[df_codes['IATA_Code'].duplicated(keep=False)]
sorted_duplicates = duplicate_iata.sort_values(by='IATA_Code')
sorted_duplicates

Empty DataFrame
Columns: [Code, Description, Airline_Name, IATA_Code]
Index: []

## Replace IATA Codes in flights df with airline names

In [181]:
# create dictionary of codes and airlines
iata_dict = df_codes.set_index('IATA_Code')['Airline_Name'].to_dict()
iata_dict

{'MAC': 'Mackey International Inc.',
 'XY': 'Munz Northern Airlines Inc.',
 'COC': 'Cochise Airlines Inc.',
 'GSA': 'Golden Gate Airlines Inc.',
 'RZZ': 'Aeromech Inc.',
 'GLW': 'Golden West Airlines Co.',
 'PRN': 'Puerto Rico Intl Airlines',
 'STZ': 'Air America Inc.',
 'SWT': 'Swift Aire Lines Inc.',
 'TSF': 'American Central Airlines',
 'VEZ': 'Valdez Airlines',
 'WEB': 'Southeast Alaska Airlines',
 'AAR': 'Altair Airlines Inc.',
 'CHI': 'Chitina Air Service',
 'MRC': 'Marco Island Airways Inc.',
 'OHZ': 'Caribbean Air Services Inc.',
 'PRO': 'Sundance Airlines',
 'SAI': 'Seair Alaska Airlines Inc.',
 'SLZ': 'Southeast Airlines Inc.',
 'AAZ': 'Alaska Aeronautical Indust.',
 'IMP': 'Imperial Airlines Inc.',
 'TWA': 'Trans Western Airlines Utah',
 'WRT': 'Wright Airlines Inc.',
 'COL': 'Presidential Express',
 'MVA': 'Mississippi Valley Airlines',
 'CHL': 'Channel Flying Inc.',
 'JCZ': 'Rocky Mountain Airways Inc.',
 'MIS': 'Midstate Airlines Inc.',
 'STG': 'Sedalia Marshall Boonvl Stg',
 'CKI': 'Inlet Airlines',
 'CMD': 'Command Airways Inc.',
 'EMA': 'Emerald Airlines',
 'ORI': 'Orion Air Inc.',
 'RAN': 'Pan Am Express',
 'AJ': 'Air Micronesia Inc.',
 'SKI': 'Sunbird Inc.',
 'WWI': 'Wings West Airlines',
 'AND': 'Southcentral Air Inc.',
 'ACG': 'Air Cargo Express Inc.',
 'AAA': 'Associated Aviation Act.',
 'AAB (1)': 'Antilles Air Boats Inc.',
 'AAE': 'AAA Airlines',
 'AAL': 'Argosy Air Lines Inc.',
 'ABH': 'Air Bahia',
 'ABI': 'Airbama Incorporated',
 'ABO': 'Aeronaves Boringuena Inc.',
 'ACA': 'Alaska Central Airways Inc.',
 'ACH': 'Island Airlines Hawaii Inc.',
 'ACI': 'AAA-Action Air Carrier Inc.',
 'ACO': 'Air Cargo Enterprises Inc.',
 'ACP': 'Air Chaparral Inc.',
 'ACS': 'Alamo Commuter Airlines',
 'ACT': 'Air Central Inc. (1)',
 'ACK': 'Air Central Inc.',
 'AEC': 'Astec Air East Inc.',
 'AFA': 'American Flag Airlines Inc.',
 'AGA': 'Air Cargo America Inc.',
 'AIA': 'All Island Air',
 'AIE': 'Air Express Inc.',
 'AIM': 'Air Mont. Inc.',
 'AIN': 'Air Indiana',
 'ALE': 'Air-Lift Associates Inc.',
 'ALI': 'Brandt Air',
 'ALL': 'All Seasons Air Pacific',
 'AMA': 'North American Airlines Inc.',
 'AMI': 'American Inter-Island Inc.',
 'ANB': 'Air Nebraska Inc.',
 'ANM': 'Airways Of New Mexico Inc.',
 'ANO': 'Metro Air Northeast Vermont',
 'ANT': 'Air North/Nenana',
 'AOI': 'Trans New York',
 'API': 'Arizona Pacific Inc.',
 'APL': 'Appalachian Flying Service',
 'APY': 'Air Polynesia Inc.',
 'ARI': 'Arizona Aero Corp.',
 'ARN': 'Arnold Aviation',
 'ARO': 'Air Oregon',
 'ARR': 'Arrowhead Airways Inc.',
 'ASD': 'Amistad Airlines',
 'ASI': 'Alpine Air Services Inc.',
 'ASP': 'Asap Air Inc.',
 'AST': 'Astro Airways',
 'ATN': 'Air Atlantic Airlines Inc.',
 'ATO': 'Pacific National Airways',
 'ATS': 'Atlantis Airlines Inc.',
 'ATT': 'Aerotransit Inc.',
 'ATX': 'Air Carolina',
 'AVA': 'Air Vectors Airways',
 'AVI': 'Aero Virgin Islands Corp.',
 'AVS': 'Aviation Services',
 'AVZ': 'Southern Jersey Airways',
 'BAC': 'Business Aircraft Corp.',
 'BAH': 'Brennan & Hargreaves Inc.',
 'BAK': 'Bankair Inc.',
 'BAR': 'Bard-Air Corp.',
 'BCA': 'Baja Cortez Airlines',
 'BEN': 'Bennington Aviation Inc.',
 'BEY': 'Beyer Aviation',
 'BHK': 'Blackhawk Airways Inc.',
 'BHO': 'Bighorn Airways Inc.',
 'BIR': 'Birchwood Air Service',
 'BMT': 'Bremerton Aviation Inc.',
 'BOA': 'Boise Air Service',
 'BRO': 'Brower Airways Inc.',
 'BUR': 'Burlington Airways Inc.',
 'CAC': 'Coleman Air Transport',
 'CAI': 'Crawford Aviation Inc.',
 'CAM': 'C & M Airlines',
 'CAP': 'Metro Air Northeast N Y',
 'CAT': 'Catalina Airlines Inc.',
 'CAV': 'Air Virginia',
 'CBA': 'Carriba Air Inc.',
 'CEN': 'Cen-Tex Airlines Inc.',
 'CET': 'Century Airlines (Cal)',
 'CHD': 'Chandler Flyer',
 'CHE': 'Charter Airlines',
 'CHF': 'Hammonds Commuter Air Serv.',
 'CHO': 'Choi Aviation Inc.',
 'CHS': 'Christman Air System',
 'CIS': 'Cal Sierra Airlines',
 'CNN': 'Centennial Airlines',
 'COB': 'Cotton Belt Aviation Inc.',
 'COK': 'Coker Aviation Inc.',
 'COM': 'Commutair',
 'COR': 'Coral Air Inc.',
 'COS': 'Cosmopolitan Comm. Airline',
 'COT': 'Southeastern Commuter',
 'COU': 'Courtesy Air Service Inc.',
 'CPA': 'Capitol Air Lines',
 'CPC': 'Coastal Plains Commuter Inc.',
 'CRA': 'Commuter Airlines',
 'CRN': 'Crown Aviaiton Inc.',
 'CRO': 'Crown Airways Inc.',
 'CRT': 'Crested Butte Air Service',
 'CSK': 'Catskill Airways Inc.',
 'CTA': 'Century Airlines',
 'CTH': 'Cothron Aviation',
 'CVA': 'Catalina-Vegas Airlines',
 'DAN': 'Danbury Airlines',
 'DEA': 'Downeast Airlines Inc.',
 'DEC': 'Decatur Aviation',
 'DHL': 'DHL Airlines Inc.',
 'DIC': 'Dickman Aviation Services',
 'DPA': 'Desert Pacific Airways',
 'DPI': 'Desert Pacific Airlines Inc.',
 'DST': 'Desert Airlines',
 'EAI': 'Executive Aviation Inc.',
 'EAS': 'Eastern Caribbean Airways',
 'ECI': 'Eastern Carolina Aviation',
 'EDE': 'Ede Aire',
 'EFA': 'Executive Four Winds',
 'EGL': 'Eagle Commuter Airlines Inc.',
 'EHA': 'East Hampton Aire Inc.',
 'EIA': 'East. Indiana Aviation Sale',
 'EKA': 'Air Pacific Inc.',
 'ERI': 'Erie Airways Inc.',
 'ERO': 'Empire Aero Service',
 'EVA': 'Evanston Aviation',
 'FAR': 'Federal Armored Service Inc.',
 'FBI': 'Young Flying Service',
 'FCA': 'Southern Airlines Inc.',
 'FDA': 'Florida Airlines Inc.',
 'FDM': 'Freedom Airlines Inc.',
 'FLM': 'Flamenco Airways Inc.',
 'FOR': 'Ford-Aire Inc.',
 'FOS': 'Foster Aviation',
 'FVA': 'Skycraft Inc.',
 'FWA': 'Far West Airlines',
 'GAS': 'General Aviation Inc.',
 'GAV': 'Gromer Aviation Inc.',
 'GBA': 'Central States Airline',
 'GCA (1)': 'Golden Carriage Aire',
 'GCS': 'Midway Commuter',
 'GHA': 'Green Hills Aviation Ltd.',
 'GMA': 'Green Mountain Airlines Ltd.',
 'GOF': 'Copper State Airlines',
 'GRO': 'Isle Royale Seaplane Serv.',
 'GSL': 'Golden South Airlines Inc.',
 'GUL': 'Gull Air Inc.',
 'GUN': 'Gunnel Aviation Inc.',
 'GWE': 'Ross Aviation Inc.',
 'HEU': 'Heussler Air Service Corp',
 'HFS': 'Hensley Flying Service Inc.',
 'HMZ': 'Long Island Airlines',
 'HOL': 'Holiday Airlines Inc.',
 'HOR': 'Iowa Airlines',
 'HPZ': 'Pacific Coast Airlines',
 'HRA': 'Trans-National Airlines Haw',
 'HSZ': 'Scenic Airlines Inc.',
 'HUB': 'Skystream Airlines',
 'HWK': 'Hawking Corporation',
 'HYA': 'Hyannis Aviation',
 'ICF': 'Iowa City Flying Service',
 'III': 'Idee Industries Inc.',
 'INA': 'Inland Empire Airlines Inc.',
 'IND': 'Indiana Airways Inc. (Pa)',
 'IPI': 'Indo-Pacific International',
 'ISL': 'Island Airlines',
 'JAM': 'Sunbelt Airlines Inc.',
 'JCM': 'Air Chico',
 'JER': 'Jer-Don Air',
 'KAI': 'Knight Airlines Inc.',
 'KEE': 'Key Airlines',
 'KWZ': 'Crown Air',
 'KXZ': 'Chaparral Airlines Inc.',
 'LAN': 'Lancer Aviation Inc.',
 'LAW': 'Lawrence Aviation',
 'LHA': 'Havasu Airlines',
 'LLA': 'Lakeland Aviation',
 'LOS': 'Aero Commuter',
 'LVA': 'Las Vegas Airlines',
 'MAG': 'Magum Airlines',
 'MAI': 'The Maui Commuter',
 'MAR': "Marshall's Air Inc.",
 'MAX': 'Maxair Inc.',
 'MCO': 'Mid Continental Airlines In',
 'MDU': 'Metro Airlines',
 'MET': 'Metroplex Airlines',
 'MIY': 'Midway Aviation Inc.',
 'MLL': 'Miller Air Transportersinc',
 'MMH': 'Ocean Airways Inc.',
 'MNZ': 'Cumberland Airlines',
 'MRR': 'Merrimack Aviation Inc.',
 'MST': 'Midwest Aviation',
 'MTA': 'Arkansas Traveler Airline',
 'MTR': 'Metroflight Airlines',
 'NAC': 'National Air Commuter Inc.',
 'NEB': 'New Born Wings Inc.',
 'NEC': 'Nor East Commuter Airlines',
 'NEV': 'Nevada Airlines',
 'NGL': 'Northern Eagle Airways Inc.',
 'NHA': 'Newair Flight Inc.',
 'NJA': 'N. J. Merrimack Airlines',
 'NPT': 'E. J. A. Newport Inc.',
 'NTH': 'Northaire',
 'NUM': 'Lake State Airways',
 'NYH': 'New York Helicopter Corp.',
 'OAK': 'Harbor Airlines Inc.',
 'OCR': 'Ocean Reef Airways Inc.',
 'OFF': 'Offshore Logistics',
 'OHA': 'Omaha Aviation',
 'OIZ': 'Corporate Air Inc.',
 'OMK': 'Omak Aviation Airlines',
 'OMN': 'Omni Pacific Airline',
 'OOZ': 'Sun Aire Lines',
 'OWS': 'Air Kentucky Air Lines',
 'PAI': 'Permian Airways Inc.',
 'PBA': 'Provincetown Boston',
 'PCA': 'Piasa Commuter Airlines',
 'PDA': 'Trans Southern Airways',
 'PEA': 'Pearson Aircraft',
 'PER': 'Air Pennsylvania',
 'PET': 'Petro Aviation Corp.',
 'PHL': 'Phillips Airlines',
 'PHX': 'Phoenix Airlines',
 'PIA': 'Pacific Island Airways',
 'PLA': 'Planes Inc.',
 'PLZ': 'Polar Airways Inc.',
 'PMA': 'Pacific Missionary Aviation',
 'PNR': 'Pioneer Airways',
 'POC': 'Pocono Airlines Inc.',
 'POM': 'Pompano Airways',
 'PON': 'Ponderosa Aviation Inc.',
 'PRA': 'Princeton Aviation Corp',
 'PRR': 'Pro Air Services',
 'PVA': 'Precision Valley Aviation',
 'QOZ': 'Bar Harbor Airways',
 'RAL': 'Royal-Air Ltd.',
 'REA': 'Realwest Airlines',
 'RED': 'Aerosun International Airlines Inc.',
 'RHA': 'Royal Hawaiian Airways Inc.',
 'RIC': 'Richardson Aviation',
 'RID': 'Indiana Airways Inc. (Reid',
 'RIO': 'Rio Airways Inc.',
 'RIV': 'Riverside Air Service',
 'RJS': 'Michigan Airways Inc.',
 'ROE': 'Roederer Aviation Inc.',
 'ROY': 'Royal American Airways Inc.',
 'RWG': 'Air Rovers Inc.',
 'SAJ': 'Sajen Air Inc.',
 'SAM': 'Samoan Airlines Inc.',
 'SAS': 'Air Cortez International',
 'SAX': 'Air Americana',
 'SBA': 'Saber Aviation Inc.',
 'SBN': 'Suburban Airlines',
 'SCO': 'Seaco Airlines Inc.',
 'SCT': 'Skyline Airlines',
 'SCY': 'South Coast Airways',
 'SEM': 'Semo Aviation Inc.',
 'SFI': 'Stahmannfarms Inc.',
 'SFO': 'Sfo Helicopter Airlines Inc.',
 'SFS': 'Sierra Flite Service Inc.',
 'SHS': 'Shasta Air Inc.',
 'SHV': 'Shavano Air Inc.',
 'SIA': 'Silver State Airlines',
 'SJA': 'San Juan Airlines Inc.',
 'SKL': 'Bas Airlines',
 'SKM': 'Scheduled Skyways',
 'SMC': 'Stopher Mechanical Inc.',
 'SNC': 'Gelco Courier Services Inc.',
 'SNE': 'Shawnee Airlines',
 'SOA': 'Mall Airways Inc.',
 'SOL': 'Soonair Lines Inc.',
 'SPF': 'Springfield Air Service',
 'SRL': 'Sterling Air Service',
 'SSP': 'Southern Seaplane',
 'SSS': 'Sierra Express Inc.',
 'SST': 'Seaplane Shuttle Transport',
 'STF': 'Trans East International',
 'STR': 'Star Aviation Corporation',
 'SUI': 'Sun International Airways',
 'SUT': 'Sunbelt',
 'SVL': 'Sun Valley Airlines',
 'SWA': 'Sunwest Airlines',
 'TAC': 'Air Colorado',
 'TAL': 'Tejas Airlines Inc.',
 'TAS': 'Yosemite Airlines Inc.',
 'TCA': 'Trans Catalina Airlines',
 'TCE': 'Oceanair Line',
 'TCI': 'Trans California Airlines',
 'TCL': 'Trans-Central Airlines Inc.',
 'TCO': 'Trans-Colorado Airlines',
 'TEN': 'Tennessee Airways Inc.',
 'TER': 'Terre Haute Air Commuter',
 'THO': 'Thorson Aviation',
 'TIA': 'Trans Air Inc.',
 'TIS': 'Skyfreight',
 'TMA': 'Trans Mo Airlines',
 'TNS': 'Transtate Aviation',
 'TRP': 'Trans Pennsylvania Airlines',
 'TSI': 'Trans Sierra Airlines Inc.',
 'TUL': 'Tulsair Beechcraft Inc.',
 'TYE': 'Temsco Airlines',
 'UAI': 'Universal Airways Inc.',
 'USA': 'Air U.S.',
 'VAG': 'Vagabond Aviation Inc.',
 'VER': 'Britt Airlines Inc.',
 'VIG': 'Viking Express',
 'VIN': 'Vale International Airlines',
 'VLY': 'Valley Airlines',
 'WAC': 'Air East Airlines',
 'WCA': "Walker's International",
 'WCI': 'Mountainwest Airlines',
 'WES': 'Western Star Airlines Inc.',
 'WET': 'Western Charter Inc.',
 'WFS': 'Wheeler Airlines',
 'WIA': 'Wisc Air',
 'WIL': "Will's Air",
 'WNG': 'Wings Airways',
 'ZFZ': 'Mcphillips Flying Service',
 'ZIA': 'Air New Mexico',
 'ZMZ': 'Winnipesaukee Aviation Inc.',
 'ZYZ': 'Skyway Aviation Inc.',
 'PSA': 'P.S. Air Freight Inc.',
 'RV (1)': 'Reeve Aleutian Airways Inc.',
 'NW': 'Northwest Airlines Inc.',
 'WC': 'Wien Air Alaska Inc.',
 'FTI': 'Southern Airways',
 'QH': 'Air Florida Inc.',
 'OC': 'Air California Inc.',
 'PS (1)': 'Pacific Southwest Airlines',
 'RIQ': 'Rich International Airways',
 'WN': 'Southwest Airlines Co.',
 'VL': 'Mid-South Aviation Inc.',
 'RCA': 'Mid-South Aviation Inc. (1)',
 'QG': 'Sky West Aviation Inc.',
 'RC (1)': 'Republic Airlines Inc.',
 'DAU': 'Dauphin Island Airways',
 'NY': 'New York Air Inc.',
 'GIQ': 'Global International Airways Corp.',
 'CJ': 'Colgan Airways Inc.',
 'UNQ': 'Overseas National Airways',
 'PTQ (1)': 'Flight International',
 'ACD': 'Academy Airlines',
 'ACL': 'Check-Air Inc.',
 'ACW': 'Transwest Air Express',
 'AIG': 'Airgo Inc.',
 'AMT': 'American Air Transport',
 'BOI': 'Bo-S-Aire Airlines Inc.',
 'CMB': 'Combs Airways Inc.',
 'DUZ': 'Summit Airlines Inc.',
 'EEZ': 'Eagle Aviation Inc.',
 'FAA': 'Falwell Aviation Inc.',
 'FAC': 'Falcon Airways Inc.',
 'PHR': 'Pinehurst Airlines Inc.',
 'ROS': 'Great Western Airlines Inc.',
 'RRT': 'Air Freight Express',
 'SSA': 'S. S. Airways Inc.',
 'XAA': 'Aero Union Corp',
 'XAC': 'Air Express International Airlines',
 'XAJ': 'Central American International',
 'XAT': 'Michigan Peninsula Airways',
 'XBF': 'WTC Airlines',
 'XBH': 'Profit Airlines Inc.',
 'XBI': 'CF Air Freight',
 'XBJ': 'International Air Service',
 'XBQ': 'Aeronaves De Puerto Rico',
 'XBR': 'Allstates Air Cargo Inc.',
 'XAQ': 'Cam Air International Inc.',
 'XAZ': 'Purolator Sky Courier Inc.',
 'XBP': 'Circle Airfreight Corp.',
 'XBT': 'Pacific Alaska Airlines Inc.',
 'XBX': 'Icb International Airlines',
 'XAM': 'Cohlmia Aviation',
 'XAE': 'Amerford Airways Inc.',
 'XAF': 'Astro-Wing Airlines Inc.',
 'XAG': 'Ball Brothers Inc.',
 'XAI': 'Burlington Northern Inc.',
 'XAK': 'Century Airlines Inc.',
 'XAO': 'Dallas Flight Center',
 'XAR': 'Jet Way Inc.',
 'XAS': 'Klondike Air Inc.',
 'XAY': 'Pat Air',
 'XBM': 'Phh Air Inc.',
 'XAU': 'Flight Line Inc.',
 'CGL': 'Viking International Airlines Inc.',
 'CL': 'Capitol International Inc.',
 'AEQ': 'Air Caravane Inc.',
 'AGQ': 'Argo S. A.',
 'AIQ': 'Norontair',
 'ALQ (1)': 'Alberta Northern Airlines',
 'AO': 'Aviacion Y Comercio S.A.',
 'BLQ': 'Air Bvi Limited',
 'BXQ': 'Spantax S. A.',
 'DA': 'Dan Air Services',
 'DM': 'Maersk Air I/S',
 'DOQ': 'Aerolineas Dominicanas S A',
 'DQQ': 'Caribwest Airways Ltd.',
 'EBQ': 'Execaire Aviation Ltd.',
 'ERQ': 'Aero Trades (Western) Ltd.',
 'FAQ': 'Fast Air Carrier Ltd. (1)',
 'HIQ': 'Business Flights Ltd.',
 'HRQ': 'Tar Airlines',
 'HVQ': 'Transavia Holland B. V.',
 'ICQ': 'Iscargo Hf',
 'IKQ': 'Tradewinds Airways Ltd.',
 'IN': 'Aerlinte Eireann Teoranta',
 'IR': 'Iran National Airlines Corp',
 'IXQ': 'Inair',
 'JXQ': 'Allarco Developments Ltd.',
 'KKQ': 'Transmeridian Air Cargo Ltd.',
 'KWQ': 'Kelowna Flightcraft Air Cha',
 'LIQ': 'Liat (1974) Limited',
 'MAQ': 'Millardair Limited',
 'MGQ': 'Montana Austria Flugetrieb',
 'MZ': 'P.N. Merpati Nusantara Air.',
 'NFQ': 'North Cariboo Flying Serv.',
 'NKQ': 'Norcanair',
 'NN': 'Northward Airlines Ltd.',
 'NSQ': 'North Coast Air Services',
 'NTQ': 'National Aviation Consult.',
 'NUQ': 'Air Niugini',
 'ONQ': 'Nunasi-Central Airlines Ltd.',
 'OWQ': 'Ontario Worldair Limited',
 'PD (1)': 'Pem-Air Limited',
 'PV': 'Eastern Provincial Airways',
 'PW': 'Pacific Western Airlines',
 'QB': 'Inter-Quebec (Intair)',
 'RB': 'Syrian Arab Airlines',
 'RSQ': 'Aerotransportes Entre Rios',
 'RY': 'Redcoat Air Cargo Limited',
 'SJQ': 'Skycharter (Malton) Ltd.',
 'SSQ': 'Superior Airways Limited',
 'ST': 'Belize Airways Limited',
 'STQ': 'Skycraft Air Transport Inc.',
 'TLQ': 'Trans-Mediterranean Airways',
 'TXQ': 'British Caribbean Airways',
 'UMQ': 'Air Manila Inc.',
 'VOQ': 'Avalon Aviation Ltd.',
 'WDQ': 'Wardair Canada Inc.',
 'WGQ': 'Gateway Aviation Limited',
 'WM': 'Windward Islands Airways',
 'XBV': 'Nal Inc.',
 'YBQ': 'Yellow Bird Air',
 'AE': 'Air Europe Limited',
 'ND': 'Intair',
 'JU (1)': 'Yugoslav Airlines',
 'UT': 'Union De Transports Aeriens',
 'HJ': 'Air Haiti S. A.',
 'SH': 'Servicio Aereo De Honduras',
 'NBQ': 'Sterling Airways A/S',
 'SZQ': 'Aerolineas El Salvador S A',
 'BOQ': 'Transp. Aereos Bolivianos',
 'ADQ': 'Aeronaves Del Peru',
 'DO': 'Compania Dominicana De Avia',
 'WT': 'Nigeria Airways Ltd.',
 'PZ': 'Lineas Aereas Paraguayas',
 'GE': 'Lufthansa Cargo Airlines',
 'VA (1)': 'Venezuelan International Airways',
 'ED': 'Andes',
 'CF': 'Compan. De Aviacion Faucett',
 'GU (1)': 'Aviateca',
 'CP (1)': 'Canadian Airlines International Ltd.',
 'GY': 'Guyana Airways Corporation',
 'ESQ': 'Seagreen Air Transport',
 'ON': 'Air Nauru',
 'PL': 'Aero Peru',
 'BBQ': 'Balair Ag',
 'SN (1)': 'Sabena Belgian World Air.',
 'RK': 'Air Afrique',
 'AC': 'Air Canada',
 'AF': 'Compagnie Natl Air France',
 'AI': 'National Aviation Company of India Limited d/b/a Air India',
 'AM': 'Aeromexico',
 'AR': 'Aerolineas Argentinas',
 'AT': 'Royal Air Maroc',
 'AV': 'Aerovias Nacl De Colombia',
 'AY': 'Finnair Oy',
 'AZ': 'Italia Transporto Aereo S.P.A DBA ITA S.P.A',
 'BA': 'British Airways Plc',
 'BD': 'British Midland Airways Ltd.',
 'BW': 'Caribbean Airlines Limited',
 'CA': 'Air China',
 'CI': 'China Airlines Ltd.',
 'CV': 'Cargolux Airlines International S.A',
 'FI': 'Icelandair',
 'IB': 'Iberia Air Lines Of Spain',
 'JL': 'Japan Air Lines Co. Ltd.',
 'JM': 'Air Jamaica Limited',
 'KE': 'Korean Air Lines Co. Ltd.',
 'KL': 'Klm Royal Dutch Airlines',
 'LA': 'Lan-Chile Airlines',
 'LB': 'Lloyd Aereo Boliviano S. A.',
 'LH': 'Lufthansa German Airlines',
 'LO': 'Polskie Linie Lotnicze',
 'LR': 'Lacsa',
 'LT': 'Luftransport-Unternehmen',
 'LY': 'El Al Israel Airlines Ltd.',
 'MX (1)': 'Compania Mexicana De Aviaci',
 'NWQ': 'N. W. Territorial Airways',
 'OA': 'Olympic Airways',
 'PH': 'Polynesian Airlines Ltd.',
 'PK': 'Pakistan International Airlines',
 'PR': 'Philippine Airlines Inc.',
 'PY': 'Surinam Airways Limited',
 'QF': 'Qantas Airways Ltd.',
 'RG': 'Varig S. A.',
 'RJ': 'Alia-(The) Royal Jordanian',
 'RO': 'Tarom Romanian Air Transpor',
 'SA': 'South African Airways',
 'SK': 'Scandinavian Airlines Sys.',
 'SQ': 'Singapore Airlines Ltd.',
 'SU': 'Aeroflot Russian Airlines',
 'TA': 'Taca International Airlines',
 'TG': 'Thai Airways International Ltd.',
 'TP': 'TAP-TAP Air Portugal',
 'UP': 'Bahamasair Holding Limited',
 'MC': 'Transtar Airlines Corp.',
 'HLQ': 'Heavylift Cargo Airlines Lt',
 'UC': 'Ladeco',
 'ALT': 'Altus Airlines',
 'ANC': 'Atlantic Air',
 'BAA': 'Aero International Airlines',
 'DIR': 'Northern Star',
 'SKT': 'Skytrain',
 'TGO': 'Trans Air Cargo Inc.',
 'THQ': 'T-Bird Air Inc.',
 'ROA': 'Royal West Airways Inc.',
 'AED': 'Air East Of Delaware Inc.',
 'ALX': 'Atlanta Express',
 'AOR': 'Air New Orleans',
 'AVR': 'Air Vermont Inc.',
 'DOL': 'Dolphin Airways Inc.',
 'DVO': 'Devoe Airlines',
 'KIN': 'Golden Pacific Airlines',
 'NFA': 'National Florida Airlines',
 'SLO': 'Slocum Air Inc.',
 'STA': 'State Airlines Inc.',
 'TRO': 'Air Molakai',
 'WIR': 'Williams Air Inc.',
 'WSU': 'Mission Air',
 'HX (1)': 'Guy-America Airways Inc.',
 'VB (1)': 'Pacific Express',
 'QS (1)': 'Northeastern International Airways',
 'HAR': 'Friendship Air Alaska',
 'MIN': 'Minuteman Aviation Inc.',
 'VIS': 'Virgin Islands Seaplane',
 'FT': 'Flying Tiger Line Inc.',
 'OD (1)': 'Aerocondor',
 'OD': 'Emerald Airlines Inc.',
 'NRN': 'Northern Airlines Inc.',
 '6P': 'Pacific East Air Inc.',
 'TJ': 'Jet Charter Service Inc.',
 'EOQ': 'Aeroservicios Ecuatorianos',
 'RAQ': 'Arista International Airlines Inc.',
 'KU': 'Kuwait Airways Corp.',
 'BAY': 'Burlington Aeroplane Co.',
 'DSA': 'Desert Sun Airlines',
 'LAS': 'Lake Union Air Service',
 'QTQ': 'Aer Turas Teoranta',
 'AFQ': 'Aero B Venezuela C.A.',
 'GX': 'Air Ontario Limited',
 'EI': 'Aer Lingus Plc',
 'SV': 'Saudi Arabian Airlines Corp',
 'XAB': 'Air Polynesia d/b/a DHL Cargo',
 'XBZ': 'Air Natl Aircraft Sal & Ser',
 'CIQ': 'A/S Conair',
 'ANI': 'Dash Air Corporation',
 'ARA': 'Air Resorts Airlines',
 'MUA': "Manu'a Air Transport",
 'PCL': 'Pacific Cal Air',
 'SER': 'Service Aviation Inc.',
 'TTM': 'The Time Machine',
 'CMQ': 'Servicio De Carga Aerea Sa',
 'HAQ (1)': 'Hapag Lloyd Flug.',
 'CB': 'Air One Inc.',
 'ME': 'Middle East Airlines S.A.L.',
 'AFS': 'Arcata Flying Service',
 'GRD': 'Grand Canyon Airlines',
 'KOD': 'Kodiak Airways Inc.',
 'MAE': 'Mid-Atlantic Exp. Airlines',
 'NCA': 'National Commuter Airlines',
 'SAC': 'Sundorph Aeronautical Corp.',
 'WAR': 'Waring Air',
 'EP': 'All Star Airlines Inc.',
 'AXQ': 'Aeron International Airlines Inc.',
 'JIQ': 'Jet Fleet Intl. Airlines',
 'HER': 'Markair Express',
 'LSZ': 'Alaska Island Air Inc.',
 'AAT': 'Air Sunshine Inc.',

In [182]:
df_merged['Airline_Mkt'] = df_merged['IATA_Code_Marketing_Airline'].map(iata_dict)
df_merged['Airline_Ops'] = df_merged['IATA_Code_Operating_Airline'].map(iata_dict)

In [183]:
df_merged[['Airline_Mkt']].isna().sum()

Airline_Mkt    0
dtype: int64

In [184]:
df_merged[['Airline_Ops']].isna().sum()

Airline_Ops    0
dtype: int64

## Merge IATA Code data to flight performance data

In [185]:
# drop IATA codes because we have a dictionary with these details if needed
df_merged = df_merged.drop(columns=['IATA_Code_Marketing_Airline', 'IATA_Code_Operating_Airline'])

In [186]:
df_merged.head()

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,DOT_ID_Marketing_Airline,Flight_Number_Marketing_Airline,DOT_ID_Operating_Airline,Tail_Number,OriginAirportID,OriginCityMarketID,Origin,OriginState,DestAirportID,DestCityMarketID,Dest,DestState,CRSDepTime,DepTime,DepDelay,DepDel15,DepartureDelayGroups,TaxiOut,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrTime,ArrDelay,ArrDel15,ArrivalDelayGroups,Cancelled,Diverted,CRSElapsedTime,ActualElapsedTime,AirTime,Distance,DistanceGroup,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,DivAirportLandings,FlightDate_date_only,Code_Share_Flight,Origin_City,Destination_City,Overnight_Depature,Overnight_Arrival,Airline_Mkt,Airline_Ops
1,2023,3,8,7,1,2023-08-07,20416,2252,20416,N974NK,12889,32211,LAS,NV,11057,31057,CLT,NC,23:59:00,01:15:00,76.0,1.0,5.0,19.0,01:34:00,08:22:00,9.0,07:22:00,08:31:00,69.0,1.0,4.0,0,0,263.0,256.0,228.0,1916.0,8,3.0,0.0,1.0,0.0,65.0,0.0,2023-08-07,0,Las Vegas,Charlotte,0,0,Spirit Air Lines,Spirit Air Lines
2,2023,3,8,9,3,2023-08-09,20416,2252,20416,N519NK,12889,32211,LAS,NV,11057,31057,CLT,NC,23:10:00,22:59:00,-11.0,0.0,-1.0,14.0,23:13:00,06:05:00,10.0,06:28:00,06:15:00,-13.0,0.0,-1.0,0,0,258.0,256.0,232.0,1916.0,8,NaN,NaN,NaN,NaN,NaN,0.0,2023-08-09,0,Las Vegas,Charlotte,0,0,Spirit Air Lines,Spirit Air Lines
3,2023,3,8,10,4,2023-08-10,20416,2252,20416,N532NK,12889,32211,LAS,NV,11057,31057,CLT,NC,23:10:00,23:02:00,-8.0,0.0,-1.0,12.0,23:14:00,05:51:00,7.0,06:28:00,05:58:00,-30.0,0.0,-2.0,0,0,258.0,236.0,217.0,1916.0,8,NaN,NaN,NaN,NaN,NaN,0.0,2023-08-10,0,Las Vegas,Charlotte,0,0,Spirit Air Lines,Spirit Air Lines
4,2023,3,8,12,6,2023-08-12,20416,2252,20416,N529NK,12889,32211,LAS,NV,11057,31057,CLT,NC,23:10:00,23:14:00,4.0,0.0,0.0,18.0,23:32:00,06:18:00,6.0,06:28:00,06:24:00,-4.0,0.0,-1.0,0,0,258.0,250.0,226.0,1916.0,8,NaN,NaN,NaN,NaN,NaN,0.0,2023-08-12,0,Las Vegas,Charlotte,0,0,Spirit Air Lines,Spirit Air Lines
5,2023,3,8,13,7,2023-08-13,20416,2252,20416,N524NK,12889,32211,LAS,NV,11057,31057,CLT,NC,23:10:00,00:03:00,53.0,1.0,3.0,24.0,00:27:00,07:31:00,9.0,06:28:00,07:40:00,72.0,1.0,4.0,0,0,258.0,277.0,244.0,1916.0,8,5.0,0.0,67.0,0.0,0.0,0.0,2023-08-13,0,Las Vegas,Charlotte,0,0,Spirit Air Lines,Spirit Air Lines

In [187]:
df_merged.to_csv(DATA_PATH + '/2023-performance-data-clean.csv', index=False)

In [188]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7260941 entries, 1 to 7278598
Data columns (total 53 columns):
 #   Column                           Dtype
---  ------                           -----
 0   Year                             int64
 1   Quarter                          int64
 2   Month                            int64
 3   DayofMonth                       int64
 4   DayOfWeek                        int64
 5   FlightDate                       datetime64[ns]
 6   DOT_ID_Marketing_Airline         int64
 7   Flight_Number_Marketing_Airline  int64
 8   DOT_ID_Operating_Airline         int64
 9   Tail_Number                      object
 10  OriginAirportID                  int64
 11  OriginCityMarketID               int64
 12  Origin                           object
 13  OriginState                      object
 14  DestAirportID                    int64
 15  DestCityMarketID                 int64
 16  Dest                             object
 17  DestState                        object
 18  CRSDepTime                       object
 19  DepTime                          object
 20  DepDelay                         float64
 21  DepDel15                         float64
 22  DepartureDelayGroups             float64
 23  TaxiOut                          float64
 24  WheelsOff                        object
 25  WheelsOn                         object
 26  TaxiIn                           float64
 27  CRSArrTime                       object
 28  ArrTime                          object
 29  ArrDelay                         float64
 30  ArrDel15                         float64
 31  ArrivalDelayGroups               float64
 32  Cancelled                        int64
 33  Diverted                         int64
 34  CRSElapsedTime                   float64
 35  ActualElapsedTime                float64
 36  AirTime                          float64
 37  Distance                         float64
 38  DistanceGroup                    int64
 39  CarrierDelay                     float64
 40  WeatherDelay                     float64
 41  NASDelay                         float64
 42  SecurityDelay                    float64
 43  LateAircraftDelay                float64
 44  DivAirportLandings               float64
 45  FlightDate_date_only             object
 46  Code_Share_Flight                int64
 47  Origin_City                      object
 48  Destination_City                 object
 49  Overnight_Depature               int64
 50  Overnight_Arrival                int64
 51  Airline_Mkt                      object
 52  Airline_Ops                      object
dtypes: datetime64[ns](1), float64(18), int64(18), object(16)
memory usage: 2.9+ GB

# Import Aircraft Registration Data

https://www.faa.gov/licenses_certificates/aircraft_certification/aircraft_registry/releasable_aircraft_download

In [442]:
aircraft_registration = pd.read_csv(DATA_PATH + '/ReleasableAircraft/MASTER.txt')

/var/folders/b2/nkpmrw0s42q_zm32rwshljyr0000gn/T/ipykernel_90747/1128628394.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  aircraft_registration = pd.read_csv(DATA_PATH + '/ReleasableAircraft/MASTER.txt')

In [443]:
aircraft_ref = pd.read_csv(DATA_PATH + '/ReleasableAircraft/ACFTREF.txt')

In [444]:
engine_ref = pd.read_csv(DATA_PATH + '/ReleasableAircraft/ENGINE.txt')

In [445]:
aircraft_registration.head()

,N-NUMBER,SERIAL NUMBER,MFR MDL CODE,ENG MFR MDL,YEAR MFR,TYPE REGISTRANT,NAME,STREET,STREET2,CITY,STATE,ZIP CODE,REGION,COUNTY,COUNTRY,LAST ACTION DATE,CERT ISSUE DATE,CERTIFICATION,TYPE AIRCRAFT,TYPE ENGINE,STATUS CODE,MODE S CODE,FRACT OWNER,AIR WORTH DATE,OTHER NAMES(1),OTHER NAMES(2),OTHER NAMES(3),OTHER NAMES(4),OTHER NAMES(5),EXPIRATION DATE,UNIQUE ID,KIT MFR,KIT MODEL,MODE S CODE HEX,Unnamed: 34
0,1,680-0519,2076811,52041,2014,7,TENAX AEROSPACE LLC ...,400 W PARKWAY PL STE 201,,RIDGELAND,MS,391576005,2,089,US,20230823,20211130,1T,5,5,V,50000001,,20140325,...,...,...,...,...,20281130,1141371,,,A00001,NaN
1,100,5334,7100510,17003,1940,1,BENE MARY D ...,PO BOX 329,,KETCHUM,OK,743490329,2,097,US,20230122,20050506,1,4,1,V,50002263,,19540430,...,...,...,...,...,20270430,600060,,,A004B3,NaN
2,10001,A28,9601202,67007,1928,1,STOOS ROBERT A ...,PO BOX 1056,,LAKELAND,FL,338021056,7,105,US,20230718,20190227,1,4,1,V,50003446,,,...,...,...,...,...,20290228,432072,,,A00726,NaN
3,10004,T18208245,2072738,,,7,ETOS AIR LLC ...,PO BOX 288,,NEW LONDON,TX,756820288,2,401,US,20230722,20130312,,4,1,V,50003451,,,...,...,...,...,...,20290331,102879,,,A00729,NaN
4,10006,BG-72,1152020,17026,1955,1,COUTCHES ROBERT HERCULES DBA ...,550 AIRWAY BLVD,,LIVERMORE,CA,945519533,4,001,US,20230421,19980826,1U,4,1,V,50003453,,19710909,AERO FLIGHT AVIATION ...,...,...,...,...,20280229,480110,,,A0072B,NaN

In [446]:
aircraft_registration.shape

(293465, 35)

In [447]:
aircraft_registration.columns

Index(['N-NUMBER', 'SERIAL NUMBER', 'MFR MDL CODE', 'ENG MFR MDL', 'YEAR MFR',
       'TYPE REGISTRANT', 'NAME', 'STREET', 'STREET2', 'CITY', 'STATE',
       'ZIP CODE', 'REGION', 'COUNTY', 'COUNTRY', 'LAST ACTION DATE',
       'CERT ISSUE DATE', 'CERTIFICATION', 'TYPE AIRCRAFT', 'TYPE ENGINE',
       'STATUS CODE', 'MODE S CODE', 'FRACT OWNER', 'AIR WORTH DATE',
       'OTHER NAMES(1)', 'OTHER NAMES(2)', 'OTHER NAMES(3)', 'OTHER NAMES(4)',
       'OTHER NAMES(5)', 'EXPIRATION DATE', 'UNIQUE ID', 'KIT MFR',
       ' KIT MODEL', 'MODE S CODE HEX', 'Unnamed: 34'],
      dtype='object')

In [448]:
aircraft_registration.drop(columns=[
    'FRACT OWNER',
    'OTHER NAMES(1)', 
    'OTHER NAMES(2)', 
    'OTHER NAMES(3)', 
    'OTHER NAMES(4)',
    'OTHER NAMES(5)',
    'KIT MFR',
    ' KIT MODEL',
    'Unnamed: 34'], 
    inplace=True)

I'll filter the aircraft registration file for tail numbers in the monthly performance data since we don't need data about any other aircrafts from the FAA.

In [449]:
# check for number of aircrafts on FAA list for commercial flights
df_merged.Tail_Number.nunique()

6326

In [450]:
df_merged.Tail_Number.head()

1    974NK
2    519NK
3    532NK
4    529NK
5    524NK
Name: Tail_Number, dtype: object

In [451]:
df_merged.Tail_Number.isna().sum()

19648

Just over 19,000 flights are missing Tail Numbers.

In [452]:
# remove 'N' from Tail Number to compare to aircraft registrations
df_merged['Tail_Number'] = df['Tail_Number'].apply(lambda x: x[1:] if isinstance(x, str) and x.startswith('N') else x)
df_merged.Tail_Number.head()

1    974NK
2    519NK
3    532NK
4    529NK
5    524NK
Name: Tail_Number, dtype: object

In [453]:
tail_numbers = df_merged.Tail_Number

In [454]:
aircraft_registration = aircraft_registration[aircraft_registration['N-NUMBER'].isin(tail_numbers)]

In [455]:
aircraft_registration.shape

(6273, 26)

In [456]:
6326-6273

53

The 2023 aircraft registration is missing registrations for 53 planes. These might be in older registrations. I will download the 2022 data to compare.

In [457]:
aircraft_registration.head()

,N-NUMBER,SERIAL NUMBER,MFR MDL CODE,ENG MFR MDL,YEAR MFR,TYPE REGISTRANT,NAME,STREET,STREET2,CITY,STATE,ZIP CODE,REGION,COUNTY,COUNTRY,LAST ACTION DATE,CERT ISSUE DATE,CERTIFICATION,TYPE AIRCRAFT,TYPE ENGINE,STATUS CODE,MODE S CODE,AIR WORTH DATE,EXPIRATION DATE,UNIQUE ID,MODE S CODE HEX
645,10156,145786,3260214,54582,2004,3,UNITED AIRLINES INC ...,233 S WACKER DR,,CHICAGO,IL,606067147,C,031,US,20230804,20190531,1T,5,5,V,50005621,20040215,20290531,90729,A00B91
807,101DQ,9409,3940005,13101,2020,3,DELTA AIR LINES INC ...,1775 M H JACKSON SERVICE RD,DEPT 595 AIRCRAFT REGISTRATIONS,ATLANTA,GA,30354,7,121,US,20231007,20200213,1T,5,5,V,50004305,20200213,20300228,1312557,A008C5
810,101DU,50020,1400012,52315,2018,3,BANK OF UTAH TRUSTEE ...,50 S 200 E STE 110,,SALT LAKE CITY,UT,841111617,S,035,US,20230906,20200808,1T,5,5,V,50004311,20181025,20270831,1285810,A008C9
866,101HQ,17000156,3260121,30061,2007,3,REPUBLIC AIRWAYS INC ...,8909 PURDUE RD STE 300,,INDIANAPOLIS,IN,462683152,C,097,US,20230818,20070227,1T,5,5,V,50004451,20070228,20290731,328579,A00929
938,101NN,5834,3930402,34601,2013,3,WILMINGTON TRUST CO TRUSTEE ...,1100 N MARKET ST,,WILMINGTON,DE,198901605,1,003,US,20230421,20210222,1T,5,5,V,50004644,20131122,20280229,1119973,A009A4

In [458]:
mask = df_merged['Tail_Number'].isin(aircraft_registration['N-NUMBER'])
missing_registration = df_merged[~mask]

In [459]:
missing_registration.head()

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,DOT_ID_Marketing_Airline,Flight_Number_Marketing_Airline,DOT_ID_Operating_Airline,Tail_Number,OriginAirportID,OriginCityMarketID,Origin,OriginState,DestAirportID,DestCityMarketID,Dest,DestState,CRSDepTime,DepTime,DepDelay,DepDel15,DepartureDelayGroups,TaxiOut,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrTime,ArrDelay,ArrDel15,ArrivalDelayGroups,Cancelled,Diverted,CRSElapsedTime,ActualElapsedTime,AirTime,Distance,DistanceGroup,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,DivAirportLandings,FlightDate_date_only,Code_Share_Flight,Origin_City,Destination_City,Overnight_Depature,Overnight_Arrival,Airline_Mkt,Airline_Ops
169884,2023,3,8,4,5,2023-08-04,19790,303,19790,1603,12478,31703,JFK,NY,14771,32457,SFO,CA,09:00:00,08:55:00,-5.0,0.0,-1.0,23.0,09:18:00,11:54:00,5.0,12:20:00,11:59:00,-21.0,0.0,-2.0,0,0,380.0,364.0,336.0,2586.0,11,NaN,NaN,NaN,NaN,NaN,0.0,2023-08-04,0,New York,San Francisco,0,0,Delta Air Lines Inc.,Delta Air Lines Inc.
169885,2023,3,8,4,5,2023-08-04,19790,303,19790,1603,14771,32457,SFO,CA,12478,31703,JFK,NY,13:35:00,13:34:00,-1.0,0.0,-1.0,25.0,13:59:00,22:19:00,19.0,22:29:00,22:38:00,9.0,0.0,0.0,0,0,354.0,364.0,320.0,2586.0,11,NaN,NaN,NaN,NaN,NaN,0.0,2023-08-04,0,San Francisco,New York,0,0,Delta Air Lines Inc.,Delta Air Lines Inc.
169886,2023,3,8,5,6,2023-08-05,19790,303,19790,1602,12478,31703,JFK,NY,14771,32457,SFO,CA,09:00:00,08:59:00,-1.0,0.0,-1.0,31.0,09:30:00,12:36:00,10.0,12:20:00,12:46:00,26.0,1.0,1.0,0,0,380.0,407.0,366.0,2586.0,11,0.0,0.0,26.0,0.0,0.0,0.0,2023-08-05,0,New York,San Francisco,0,0,Delta Air Lines Inc.,Delta Air Lines Inc.
169887,2023,3,8,5,6,2023-08-05,19790,303,19790,1602,14771,32457,SFO,CA,12478,31703,JFK,NY,13:35:00,14:24:00,49.0,1.0,3.0,12.0,14:36:00,22:14:00,14.0,22:29:00,22:28:00,-1.0,0.0,-1.0,0,0,354.0,304.0,278.0,2586.0,11,NaN,NaN,NaN,NaN,NaN,0.0,2023-08-05,0,San Francisco,New York,0,0,Delta Air Lines Inc.,Delta Air Lines Inc.
169888,2023,3,8,6,7,2023-08-06,19790,303,19790,1603,12478,31703,JFK,NY,14771,32457,SFO,CA,09:00:00,08:57:00,-3.0,0.0,-1.0,15.0,09:12:00,12:01:00,7.0,12:20:00,12:08:00,-12.0,0.0,-1.0,0,0,380.0,371.0,349.0,2586.0,11,NaN,NaN,NaN,NaN,NaN,0.0,2023-08-06,0,New York,San Francisco,0,0,Delta Air Lines Inc.,Delta Air Lines Inc.

In [460]:
df_ac_reg_2022 = pd.read_csv('/Users/katialopes-gilbert/Downloads/ReleasableAircraft/MASTER.txt')

/var/folders/b2/nkpmrw0s42q_zm32rwshljyr0000gn/T/ipykernel_90747/3682459280.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  df_ac_reg_2022 = pd.read_csv('/Users/katialopes-gilbert/Downloads/ReleasableAircraft/MASTER.txt')

In [461]:
aircraft_registration_2022 = df_ac_reg_2022[df_ac_reg_2022['N-NUMBER'].isin(missing_registration['Tail_Number'])]
aircraft_registration_2022.shape

(22, 35)

In [462]:
df_ac_reg_2021 = pd.read_csv('/Users/katialopes-gilbert/Downloads/ReleasableAircraft-3/MASTER.txt')

/var/folders/b2/nkpmrw0s42q_zm32rwshljyr0000gn/T/ipykernel_90747/59834791.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  df_ac_reg_2021 = pd.read_csv('/Users/katialopes-gilbert/Downloads/ReleasableAircraft-3/MASTER.txt')

In [463]:
aircraft_registration_2021 = df_ac_reg_2021[df_ac_reg_2021['N-NUMBER'].isin(missing_registration['Tail_Number'])]
aircraft_registration_2021.shape

(22, 35)

In [464]:
aircraft_registration_2021.merge(aircraft_registration_2022, on='N-NUMBER').shape

(22, 69)

2021 and 2022 aircraft registrations contain the same aircrafts that are missing from the 2023 df. I will add these.

In [465]:
aircraft_registration_2022.drop(columns=[
    'FRACT OWNER',
    'OTHER NAMES(1)', 
    'OTHER NAMES(2)', 
    'OTHER NAMES(3)', 
    'OTHER NAMES(4)',
    'OTHER NAMES(5)',
    'KIT MFR',
    ' KIT MODEL',
    'Unnamed: 34'], 
    inplace=True)

/var/folders/b2/nkpmrw0s42q_zm32rwshljyr0000gn/T/ipykernel_90747/1062023511.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aircraft_registration_2022.drop(columns=[

In [466]:
aircraft_registration = pd.concat([aircraft_registration, aircraft_registration_2022], axis=0)

In [467]:
aircraft_registration.shape

(6295, 26)

In [468]:
aircraft_registration.head(2)

,N-NUMBER,SERIAL NUMBER,MFR MDL CODE,ENG MFR MDL,YEAR MFR,TYPE REGISTRANT,NAME,STREET,STREET2,CITY,STATE,ZIP CODE,REGION,COUNTY,COUNTRY,LAST ACTION DATE,CERT ISSUE DATE,CERTIFICATION,TYPE AIRCRAFT,TYPE ENGINE,STATUS CODE,MODE S CODE,AIR WORTH DATE,EXPIRATION DATE,UNIQUE ID,MODE S CODE HEX
645,10156,145786,3260214,54582,2004,3,UNITED AIRLINES INC ...,233 S WACKER DR,,CHICAGO,IL,606067147,C,031,US,20230804,20190531,1T,5,5,V,50005621,20040215,20290531,90729,A00B91
807,101DQ,9409,3940005,13101,2020,3,DELTA AIR LINES INC ...,1775 M H JACKSON SERVICE RD,DEPT 595 AIRCRAFT REGISTRATIONS,ATLANTA,GA,30354,7,121,US,20231007,20200213,1T,5,5,V,50004305,20200213,20300228,1312557,A008C5

In [469]:
aircraft_ref.head()

,CODE,MFR,MODEL,TYPE-ACFT,TYPE-ENG,AC-CAT,BUILD-CERT-IND,NO-ENG,NO-SEATS,AC-WEIGHT,SPEED,TC-DATA-SHEET,TC-DATA-HOLDER,Unnamed: 13
0,0020901,AAR AIRLIFT GROUP INC,UH-60A,6,3,1,0,2,15,CLASS 3,0,,...,NaN
1,0030109,EXLINE ACE-C,ACE-C,4,1,1,1,1,1,CLASS 1,82,,...,NaN
2,003010D,DELEBAUGH,P,4,1,1,1,1,1,CLASS 1,82,,...,NaN
3,003010H,DAL PORTO,BABY ACE D,4,1,1,1,1,1,CLASS 1,82,,...,NaN
4,003010P,DUNN,BABY ACE,4,1,1,1,1,1,CLASS 1,82,,...,NaN

In [470]:
aircraft_ref.drop(columns=['TC-DATA-SHEET', 'TC-DATA-HOLDER', 'Unnamed: 13'], inplace=True)

In [471]:
engine_ref.head()

   CODE         MFR          MODEL TYPE  HORSEPOWER  THRUST  Unnamed: 6
0     0  NONE        NONE            0            0       0         NaN
1   401  A.C.E.      HIDR MARK III   1           95       0         NaN
2   402  A.C.E.      UPRI MARK III   1          100       0         NaN
3   450  AEROMOMENT  AM13 SERIES     8          100       0         NaN
4   452  AEROMOMENT  AM15 SERIES     8          117       0         NaN

In [472]:
engine_ref.drop(columns='Unnamed: 6', inplace=True)

In [473]:
aircraft_registration_merged = aircraft_registration.merge(aircraft_ref, left_on='MFR MDL CODE', right_on='CODE', how='left')

In [474]:
aircraft_registration_merged['ENG MFR MDL'] = aircraft_registration_merged['ENG MFR MDL'].replace('     ', 0).astype(int)
aircraft_registration_merged = aircraft_registration_merged.merge(engine_ref, left_on='ENG MFR MDL', right_on='CODE', how='left', suffixes=['_aircraft', '_engine'])

In [475]:
aircraft_registration_merged.head()

,N-NUMBER,SERIAL NUMBER,MFR MDL CODE,ENG MFR MDL,YEAR MFR,TYPE REGISTRANT,NAME,STREET,STREET2,CITY,STATE,ZIP CODE,REGION,COUNTY,COUNTRY,LAST ACTION DATE,CERT ISSUE DATE,CERTIFICATION,TYPE AIRCRAFT,TYPE ENGINE,STATUS CODE,MODE S CODE,AIR WORTH DATE,EXPIRATION DATE,UNIQUE ID,MODE S CODE HEX,CODE_aircraft,MFR_aircraft,MODEL_aircraft,TYPE-ACFT,TYPE-ENG,AC-CAT,BUILD-CERT-IND,NO-ENG,NO-SEATS,AC-WEIGHT,SPEED,CODE_engine,MFR_engine,MODEL_engine,TYPE,HORSEPOWER,THRUST
0,10156,145786,3260214,54582,2004,3,UNITED AIRLINES INC ...,233 S WACKER DR,,CHICAGO,IL,606067147,C,031,US,20230804,20190531,1T,5,5,V,50005621,20040215,20290531,90729,A00B91,3260214,EMBRAER,EMB-145XR,5,5,1,0,2,55,CLASS 2,0,54582,ROLLS-ROYC,AE3007 SER,5,0,6442
1,101DQ,9409,3940005,13101,2020,3,DELTA AIR LINES INC ...,1775 M H JACKSON SERVICE RD,DEPT 595 AIRCRAFT REGISTRATIONS,ATLANTA,GA,30354,7,121,US,20231007,20200213,1T,5,5,V,50004305,20200213,20300228,1312557,A008C5,3940005,AIRBUS,A321-211,5,5,1,0,2,199,CLASS 3,0,13101,CFM INTL,CFM56-5B3/3,5,0,32000
2,101DU,50020,1400012,52315,2018,3,BANK OF UTAH TRUSTEE ...,50 S 200 E STE 110,,SALT LAKE CITY,UT,841111617,S,035,US,20230906,20200808,1T,5,5,V,50004311,20181025,20270831,1285810,A008C9,1400012,C SERIES AIRCRAFT LTD PTNRSP,BD-500-1A10,5,5,1,0,2,133,CLASS 3,0,52315,P & W,PW1519G,5,0,19775
3,101HQ,17000156,3260121,30061,2007,3,REPUBLIC AIRWAYS INC ...,8909 PURDUE RD STE 300,,INDIANAPOLIS,IN,462683152,C,097,US,20230818,20070227,1T,5,5,V,50004451,20070228,20290731,328579,A00929,3260121,EMBRAER-EMPRESA BRASILEIRA DE,ERJ 170-200 LR,5,5,1,0,2,80,CLASS 3,0,30061,GE,CF34-8E5,5,0,14510
4,101NN,5834,3930402,34601,2013,3,WILMINGTON TRUST CO TRUSTEE ...,1100 N MARKET ST,,WILMINGTON,DE,198901605,1,003,US,20230421,20210222,1T,5,5,V,50004644,20131122,20280229,1119973,A009A4,3930402,AIRBUS INDUSTRIE,A321-231,5,5,1,0,2,379,CLASS 3,0,34601,IAE,V2500SERIES,4,0,25000

In [477]:
aircraft_registration_merged.to_csv(DATA_PATH + '/aircraft_registration.csv', index=False)